<div lb-aside-directive></div>
<div id="create-or-edit-task" class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200" ng-bind="isNew ? '任务创建' : '任务编辑'"></div>
        <div class="font-size-normal ">
            <em class="path" ng-click="utils.href('/dashboard')">首页</em>
            <em> / </em>
            <em class="last" ng-bind="isNew ? '任务创建' : '任务编辑'"></em>
        </div>
    </div>
    <div class="main-wrapper">
        <div class="tabs">
            <ul class="font-size-normal tab-titles">
                <li class="tab-title {{ taskTab == 1 ? 'selected' : '' }}" ng-click="selectTab('taskTab', 1)" ng-bind="isNew ? '新任务' : '编辑任务'"></li>
                <li class="tab-title {{ taskTab == 2 ? 'selected' : '' }}" ng-click="selectTab('taskTab', 2)" style="display: none;">草稿箱</li>
            </ul>
            <div class="tab" ng-show="taskTab == 1">
                <div class="title-1">
                    <span class="title" ng-bind="isNew ? '创建新任务' : '编辑任务'"></span>
                </div>
                <form name="taskcreate_form" novalidate ng-submit="">
                    <div class="form-item">
                        <div class="title">任务名称</div>
                        <div class="content">
                            <input type="text" name="taskname" class="input" placeholder="输入任务名称" ng-model="taskInfo.taskName" required ng-maxlength="30" ng-pattern="/^[\d0-9a-zA-Z_\u4e00-\u9fa5]+$/">
                            <div class="error" ng-show="taskcreate_form.taskname.$dirty && taskcreate_form.taskname.$invalid">任务名称最少1个字符，最多30个字符，支持中英文、数字或下划线</div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="title">任务描述</div>
                        <div class="content">
                            <textarea name="description" placeholder="请在此输入任务描述" ng-maxlength="100" ng-model="taskInfo.description" required></textarea>
                            <div class="error" ng-show="taskcreate_form.description.$dirty && taskcreate_form.description.$invalid">任务描述必填，且最多100个字</div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="title">任务周期</div>
                        <div class="content">
                            <div class="calendar" id="time-start">
                                <input type="text" class="input" disabled="disabled" placeholder="请输入开始日期" ng-model="taskInfo.startTime">
                                <span class="icon icons-calendar"></span>
                            </div>
                            <span class="line-height-40">to</span>
                            <div id="time-end" class="calendar">
                                <input type="text" class="input" disabled="disabled" placeholder="请输入结束日期" ng-model="taskInfo.endTime">
                                <span class="icon icons-calendar"></span>
                            </div>
                            <div class="error" ng-bind="dateError" ng-show="showDateError"></div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="title">主叫号码</div>
                        <div class="content">
                            <select class="select" name="phone" required ng-model="taskInfo.callingNo">
                                <option value="" selected="selected">选择主叫号码</option>
                                <option ng-repeat="(phoneId, phone) in options.outboundPhones" value="{{ phoneId }}" ng-bind="phone"></option>
                            </select>
                            <div class="error" ng-show="taskcreate_form.phone.$dirty && taskcreate_form.phone.$invalid">请选择主叫号码</div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="title">机器人</div>
                        <div class="content">
                            <select class="select" name="robot" required ng-model="taskInfo.robotId" ng-disabled="!isNew">
                                <option value="" selected="selected">选择机器人</option>
                                <option ng-repeat="(robotId, robot) in options.robots" value="{{ robotId }}" ng-bind="robot"></option>
                            </select>
                            <div class="error" ng-show="taskcreate_form.robot.$dirty && taskcreate_form.robot.$invalid">请选择机器人类型</div>
                        </div>
                    </div>
                    <div class="form-item" ng-show="false">
                        <div class="title">知识域</div>
                        <div class="content">
                            <input type="text" placeholder="知识域" ng-model="taskInfo.KnowledgeDomain">
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="title">外呼号码</div>
                        <div class="content text">
                            <p>请<a class="color-blue" href="{{ phoneTplUrl }}" download="{{ phoneTplUrl }}" target="_blank">下载模板</a>，按照其中的格式填写您的外呼号码并上传该文件</p>
                            <p ng-repeat="file in taskInfo.uploadFileInfos track by $index">
                                <span ng-bind="'共' + metaFile[file.id].originalCount + '条外呼号码，本次去重' + metaFile[file.id].repeatCount + '条，剔除错号/特殊号' + (metaFile[file.id].specialCount + metaFile[file.id].errorCount) + '条'"></span>
                                <span class="color-blue phone-del" ng-click="delPhone($index)">删除</span>
                                <a class="color-blue" href="{{ dlPhoneUrl + '?id=' + file.id + '&type=1' }}" download="{{ dlPhoneUrl + '?id=' + file.id + '&type=1' }}" target="_blank">下载</a>
                            </p>
                            <span class="btn-blue" ng-click="uploadFile()" ng-show="taskInfo.uploadFileInfos.length < 1">选择文件</span>
                            <div class="error" ng-show="showFileError && taskInfo.uploadFileInfos.length === 0">请选择上传的文件</div>
                        </div>
                    </div>
                    <div class="form-item">
                        <div class="title">调度设置</div>
                        <div class="content">
                            <div class="card-list">
                                <span class="card {{ taskInfo.dispatchType == '1' ? 'selected' : '' }}" ng-click="taskInfo.dispatchType = '1'; selectedSchedule = defaultSchedule">默认调度</span>
                                <span class="card {{ taskInfo.dispatchType == '2' ? 'selected' : '' }}" ng-click="openPop('pop-schedule'); taskInfo.dispatchType = '2'; selectedSchedule = taskInfo.dispatch">自定义调度</span>
                            </div>
                            <div class="schedule-info line-height-15 spacefix">
                                <div class="col-3 font-size-normal">
                                    <p>最早外呼时间：<span ng-bind="selectedSchedule.firstOutCallTime"></span></p>
                                    <p>呼叫上线次数：<span ng-bind="options.outcallCeiling[selectedSchedule.outcallCeiling]"></span></p>
                                    <p>已关机时：<span ng-bind="options.shutDown[selectedSchedule.shutDown]"></span></p>
                                </div>
                                <div class="col-3 font-size-normal">
                                    <p>最晚外呼时间：<span ng-bind="selectedSchedule.lastOutCallTime"></span></p>
                                    <p>用户拒接时：<span ng-bind="options.reject[selectedSchedule.reject]"></span></p>
                                    <p>外地手机时：<span ng-bind="options.outsidePhone[selectedSchedule.outsidePhone]"></span></p>
                                </div>
                                <div class="col-3 font-size-normal">
                                    <p>午休开始时间：<span ng-bind="selectedSchedule.restStartTime"></span></p>
                                    <p>无人接听时：<span ng-bind="options.noAnswer[selectedSchedule.noAnswer]"></span></p>
                                </div>
                                <div class="col-3 font-size-normal">
                                    <p>午休结束时间：<span ng-bind="selectedSchedule.restEndTime"></span></p>
                                    <p>暂时无法接听时：<span ng-bind="options.unableAnswer[selectedSchedule.unableAnswer]"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-align-center op">
                        <!--
                        <span class="btn-blue" ng-click="save()">保存草稿</span>
                        -->
                            <span class="btn-blue" ng-click="taskcreate_form.taskname.$dirty = true;
                                                             taskcreate_form.description.$dirty = true;
                                                             taskcreate_form.robot.$dirty = true;
                                                             taskcreate_form.phone.$dirty = true;
                                                             taskInfo.fileUrl ? showFileError = false : showFileError = true;
                                                             showFileError = true;
                                                             taskInfo.uploadFileInfos.length > 0 && taskcreate_form.$valid && createTask()" ng-show="isNew">创建任务</span>
                        <span class="btn-blue" ng-click="delTask()" ng-show="!isNew">删除任务</span>
                            <span class="btn-blue" ng-click="taskcreate_form.taskname.$dirty = true;
                                                             taskcreate_form.description.$dirty = true;
                                                             taskcreate_form.robot.$dirty = true;
                                                             taskcreate_form.phone.$dirty = true;
                                                             taskInfo.fileUrl ? showFileError = false : showFileError = true;
                                                             showFileError = true;
                                                             taskInfo.uploadFileInfos.length > 0 && taskcreate_form.$valid && updateTask()" ng-show="!isNew">保存</span>
                    </div>
                </form>
            </div>
            <div class="tab" ng-show="taskTab == 2">
                <div class="title-1"><span class="title">最新草稿</span></div>
                <div class="form-item">
                    <div class="title">任务名称</div>
                    <div class="content text">这是一个任务名称</div>
                </div>
                <div class="form-item">
                    <div class="title">任务描述</div>
                    <div class="content text">这是任务描述</div>
                </div>
                <div class="form-item">
                    <div class="title">任务周期</div>
                    <div class="content text">这是任务周期</div>
                </div>
                <div class="form-item">
                    <div class="title">主叫号码</div>
                    <div class="content text">这是主叫号码</div>
                </div>
                <div class="form-item">
                    <div class="title">机器人</div>
                    <div class="content text">机器人</div>
                </div>
                <div class="form-item">
                    <div class="title">外呼号码</div>
                    <div class="content text">外呼号码</div>
                </div>
                <div class="form-item">
                    <div class="title">调度设置</div>
                    <div class="content text">调度设置</div>
                </div>
                <div class="form-item">
                    <div class="title">创建/更新人</div>
                    <div class="content text">金正恩</div>
                </div>
                <div class="form-item">
                    <div class="title">更新时间</div>
                    <div class="content text">2016-2-3</div>
                </div>
                <div class="text-align-center op">
                    <span class="btn-blue" ng-click="edit()">编辑草稿</span>
                    <span class="btn-blue" ng-click="createTaskByDraft()">创建任务</span>
                    <span class="btn-blue" ng-click="deleteDraft()">删除</span>
                </div>
            </div>
        </div>
    </div>
    <div id="pop-schedule" class="pop">
        <div class="title">自定义调度<span class="icon icons-close close" ng-click="closePop('pop-schedule')"></span></div>
        <div class="pop-content">
            <div lb-schedule-directive schedule="taskInfo.dispatch" options="options" callback="saveMySchedule"></div>
        </div>
    </div>
    <div id="pop-upload" class="pop">
        <div class="title">号码检测<span class="icon icons-close close" ng-click="closePop('pop-upload')"></span></div>
        <div class="pop-content">
            <div>
                系统检测到{{ phoneCheckInfo.originalCount }}条记录，
                去重{{ phoneCheckInfo.repeatCount }}条（<a class="color-blue" href="{{ dlPhoneUrl + '?id=' + phoneCheckInfo.id + '&type=3' }}" download="{{ dlPhoneUrl + '?id=' + phoneCheckInfo.id + '&type=3' }}" target="_blank">导出</a>）；
                删除{{ phoneCheckInfo.errorCount }}条错误号码（<a class="color-blue" href="{{ dlPhoneUrl + '?id=' + phoneCheckInfo.id + '&type=2' }}" download="{{ dlPhoneUrl + '?id=' + phoneCheckInfo.id + '&type=2' }}" target="_blank">导出</a>）；
                特殊号码{{ phoneCheckInfo.specialCount }}条（<a class="color-blue" href="{{ dlPhoneUrl + '?id=' + phoneCheckInfo.id + '&type=4' }}" download="{{ dlPhoneUrl + '?id=' + phoneCheckInfo.id + '&type=4' }}" target="_blank">导出</a>）</div>
            <div class="op text-align-center">
                <span class="btn-blue" ng-click="taskInfo.uploadFileInfos.pop(); closePop('pop-upload')">取消</span>
                <span class="btn-blue" ng-click="closePop('pop-upload'); openPop('pop-upload-success')">继续上传</span>
            </div>
        </div>
    </div>
    <div id="pop-upload-success" class="pop">
        <div class="title">上传成功<span class="icon icons-close close" ng-click="closePop('pop-upload-success')"></span></div>
        <div class="pop-content">
            <div>本次上传{{ phoneCheckInfo.originalCount }}条记录，其中去重{{ phoneCheckInfo.repeatCount }}条；删除错号/特殊号码{{ phoneCheckInfo.errorCount + phoneCheckInfo.specialCount }}条，实际上传{{ phoneCheckInfo.originalCount - phoneCheckInfo.repeatCount - phoneCheckInfo.errorCount - phoneCheckInfo.specialCount }}</div>
            <div class="text-align-center op">
                <span class="btn-blue" ng-click="closePop('pop-upload-success')">确定</span>
            </div>
        </div>
    </div>
</div>