<div lb-aside-directive></div>
<div id="schedule" class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200">调度设置</div>
        <div class="font-size-normal ">
            <em class="path" ng-click="utils.href('/dashboard')">首页</em>
            <em> / </em>
            <em class="last">调度设置</em>
        </div>
    </div>
    <div class="main-wrapper">
        <div class="title-1"><span class="title">默认调度</span></div>
        <div class="schedule-show" ng-show="isUpdate == false">
            <div class="form-item">
                <div class="title">创建/更新人</div>
                <div class="content text" ng-bind="scheduleInfo.user.name_"></div>
            </div>
            <div class="form-item">
                <div class="title">更新时间</div>
                <div class="content text" ng-bind="scheduleInfo.updateTime | lbUTCDate:'yyyy-MM-dd HH:mm'"></div>
            </div>
            <div class="form-item">
                <div class="title">最早外呼时间</div>
                <div class="content text" ng-bind="scheduleInfo.firstOutCallTime"></div>
            </div>
            <div class="form-item">
                <div class="title">最晚外呼时间</div>
                <div class="content text" ng-bind="scheduleInfo.lastOutCallTime"></div>
            </div>
            <div class="form-item">
                <div class="title">午休开始时间</div>
                <div class="content text" ng-bind="scheduleInfo.restStartTime"></div>
            </div>
            <div class="form-item">
                <div class="title">午休结束时间</div>
                <div class="content text" ng-bind=scheduleInfo.restEndTime></div>
            </div>
            <div class="form-item">
                <div class="title">呼叫次数上限</div>
                <div class="content text" ng-bind="options.outcallCeiling[scheduleInfo.outcallCeiling]"></div>
            </div>
            <div class="form-item">
                <div class="title">用户拒接时</div>
                <div class="content text" ng-bind="options.reject[scheduleInfo.reject]"></div>
            </div>
            <div class="form-item">
                <div class="title">无人接听时</div>
                <div class="content text" ng-bind="options.noAnswer[scheduleInfo.noAnswer]"></div>
            </div>
            <div class="form-item">
                <div class="title">暂时无法接通时</div>
                <div class="content text" ng-bind="options.unableAnswer[scheduleInfo.unableAnswer]"></div>
            </div>
            <div class="form-item">
                <div class="title">已关机时</div>
                <div class="content text" ng-bind="options.shutDown[scheduleInfo.shutDown]"></div>
            </div>
            <div class="form-item">
                <div class="title">外地手机时</div>
                <div class="content text" ng-bind="options.outsidePhone[scheduleInfo.outsidePhone]"></div>
            </div>
            <div class="op text-align-center">
                <span class="btn-blue" ng-click="isUpdate = true">更新默认调度</span>
            </div>
        </div>
        <div class="schedule-setting" ng-show="isUpdate == true">
            <div lb-schedule-directive callback="updateSchedule" schedule="updateInfo" options="options"></div>
        </div>
    </div>
</div>