<div lb-aside-directive></div>
<div id="task-list" class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200">任务列表</div>
        <div class="font-size-normal ">
            <em class="path" ng-click="utils.href('/dashboard')">首页</em>
            <em> / </em>
            <em class="last">任务列表</em>
        </div>
        <span class="op btn-blue" ng-click="utils.href('/createTask')">创建新任务</span>
    </div>
    <div class="main-wrapper">
        <div lb-task-list-directive robot_id=""></div>
    </div>
</div>