#welcome {
    overflow: hidden;
    .line-height-35{
        line-height: 35px;
    }
    .font-size-18{
        font-size: 18px;
    }
    .margin-top15{
        margin-top: 15px;
    }
    .dis{
        display: inline-block;
    }
    .color-666{
        color:#666666;
    }
    .endbgcolor{
        background: #122c54;
    }
    .color-45fdfd{
        color:#45fdfd;
    }
    .banner {
        width: 100%;
        min-width:1200px;
        overflow: auto;
        background: url("../images/welcome/welcome_banner.png");
        background-position: bottom;
        -webkit-background-size: cover;
        background-size: cover;
        position: relative;
        .banner-text {
            position: absolute;
            width: 100%;
            margin-top: 150px;
        }
        .main-head {
            margin-top: 20px;
            font-size: 50px;
        }
        .sub-heads {
            margin-top: 40px;
            .sub-head {
                margin-top: 20px;
            }
        }
        .login-wrapper {
            position: absolute;
            width: 100%;
            bottom: 130px;
        }
    }
    @media screen and (min-width: 1200px){
        .banner {
            height: 870px;
        }
    }
    @media screen and (max-width: 1200px){
        .banner {
            height:680px;
        }
    }

    .wrapper-ai {
        width: 100%;
        .content-ai {
            width: 1200px;
            margin: 0 auto;
            h1{
                font-size:36px;
            }
            span{
                font-size: 18px;
                display: inline-block;
                margin: 20px auto 20px;
            }
        }
        .ai-bg{
            width: 158px;
            height: 158px;
            position: relative;
            border: 1px #4e9dff solid;
            padding: 15px;
            margin:0 auto;
            margin-bottom: 30px;
            @include border-radius(50%) ;
            @include opacity(0.9);
            @include transition(0.3);
            span{
                margin-top: 48px;
                @include transition(1);
            }
            span:hover{
                @include animation(shake .3s linear 0s 3 both);
            }
            .bg-bg{
                width: 158px;
                height: 158px;
                background: #4e9dff;
                @include border-radius(50%) ;
            }
        }

        .ai-bg:hover{
            @include opacity(1);
        }
    }
    .title-ai{
        margin: 35px auto;
    }
    .line{
        width: 1px;
        height: 100%;
        margin:0 10px;
        background: #d9d9d9;
    }
    .ai-summarize{
        background: #38619f;
        width: 100%;
        .content_ai_summarize{
            width: 1200px;
            margin: 0 auto;
        }
    }
    .ai-robot{
        width: 1200px;
        margin: 50px auto 0;
        h1{
            font-size:36px;
            margin-bottom: 30px;
        }
        h3{
            margin-bottom: 50px;
        }
        .robot-style{
            border-top: 2px #d9d9d9 dashed;
            height: 156px;
            padding: 30px 10px;
            text-align: left;
            vertical-align: middle;
            span,.color-666{
                margin-top: 30px;
            }
            .nomargin{
                margin-top: 5px;
            }

        }
        .robot-style-border-bottom{
            border-bottom: 2px #d9d9d9 dashed;
        }
        .robot-summarize{
            background: #eee;
            width: 100%;
            margin: 30px 0;
        }
    }
    /*button*/
    *:after, *:before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    /* Common button styles */
    .button {
        min-width: 150px;
        max-width: 250px;
        @include border-radius(6px);
        display: block;
        background: none;
        vertical-align: middle;
        position: relative;
        z-index: 1;
        cursor: pointer;
        -webkit-backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        color: #37474f;
        border: 2px #fff solid;
        text-transform: uppercase;
    }
    .button:focus {
        outline: none;
    }
    .button > span {
        vertical-align: middle;
    }
    .button-rayen {
        overflow: hidden;
        padding: 0;
        width: 238px;
        margin: 0 auto;
        color: #fff;
    }
    .button-rayen::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba(255,255,255,0.2);
        @include transform(translate3d(-100%, 0, 0));
    }
    .button-rayen::before,
    .button-rayen > span {
        display: block;
        padding:10px 10px;
        @include transition(transform 0.3s);
        @include transition-timing-function(cubic-bezier(0.75, 0, 0.125, 1));
    }
    .button-rayen:hover::before {
        @include transform(translate3d(0, 0, 0));
    }
    .button-rayen:hover > span {
        @include transform(translate3d(0, 100%, 0));
    }

}
@-webkit-keyframes shake {
    0%, 50%, 100% {
        @include transform(rotate(0deg));
    }
    25% {
        @include transform(rotate(-25deg));
    }
    75% {
        @include transform(rotate(25deg));
    }
}
@keyframes shake {
    0%, 50%, 100% {
        @include transform(rotate(0deg));
    }
    25% {
        @include transform(rotate(-25deg));
    }
    75% {
        @include transform(rotate(25deg));
    }
}