<div id="verify-email" class="bgimg-black">
    <div class="tips">
        <div class="title bgcolor-blue font-size-large color-white font-weight-200">验证邮箱</div>
        <div class=" wrapper-padding-30 font-size-normal line-height-15 bgcolor-white">
            <p ng-bind="tips"></p>
            <div class="op text-align-center">
                <span class="btn-blue" ng-show="!isSuccess" ng-click="">重新发送验证邮件</span>
                <span class="btn-blue" ng-click="utils.href('/')">返回首页</span>
            </div>
        </div>
    </div>
</div>