<div id="welcome">
    <div class="banner">
        <div class="banner-text text-align-center color-white font-weight-200">
            <div class="main-head font-weight-200">睿思 — 首家智能社会服务云平台</div>
            <div class="main-head font-weight-200 color-45fdfd en-title font-weight-500">AIaaS</div>
            <div class="sub-heads">
                <div class="font-size-large sub-head">让人类，用有限的生命，</div>
                <div class="font-size-large sub-head">去做更有意义的事 。</div>
            </div>
        </div>
        <div class="text-align-center login-wrapper">
            <button class="button button-rayen button-border-thin button-text-thick button-text-upper button-size-s font-size-large font-weight-200" data-text="点击，遇见崭新未来！" ng-click="utils.href('/profile')"><span>点击，遇见崭新未来！</span></button>
        </div>
    </div>

    <div class="wrapper-ai text-align-center">
        <div class="content-ai wrapper-padding-30">
            <h1>AI as a Service</h1>
            <span>人工智能即服务</span>
            <div class="ai-content spacefix">
                <div class="col-3 font-size-large  text-align-center">
                    <div class="ai-bg"><div class="bg-bg"> <span class="icon icons-welcome_job_market"></span></div></div>
                    <div class="ai-text color-666">让人工智能服务于职场</div>
                </div>
                <div class="col-3 font-size-large  text-align-center">
                    <div class="ai-bg"><div class="bg-bg"><span class="icon icons-welcome_elite"></span></div></div>
                    <div class="ai-text color-666">让人工智能化身职场精英</div>
                </div>
                <div class="col-3 font-size-large text-align-center">
                    <div class="ai-bg"><div class="bg-bg"><span class="icon icons-welcome_society"></span></div></div>
                    <div class="ai-text color-666">让人工智能服务于社会</div>
                </div>
                <div class="col-3 font-size-large text-align-center">
                    <div class="ai-bg"><div class="bg-bg"><span class="icon icons-welcome_upgrade"></span></div></div>
                    <div class="ai-text color-666">让人工智能推动社会产业升级</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ai-summarize">
        <div class="content-ai-summarize wrapper-padding-30">
            <div class="font-size-18 text-align-center color-white line-height-35">社会服务是以提供劳务的形式来满足社会需求的社会活动，随着人力成本的上升、人员流动加剧、人员技能门槛提升...<br/>我们隐约感知着
                危机的降临<br/>今天，我们引入AIaaS，让人工智能化身为劳动力，与人类携行，预期一场社会大升级！</div>
        </div>
    </div>
    <div class="ai-robot text-align-center">
        <div class="content-ai">
            <h1>机器人简介</h1>
            <div class="robot-content">
                <div class="robot-style">
                    <span class="icon icons-welcome_voice"></span>
                    <div class="line dis"></div>
                    <div class="font-size-large line-height-35 color-666 dis col-8 ">语音验证码Robot<br/>
                        通过简单配置，方便企业以语音电话的形式向用户下发验证码，满足用户注册、登录、验证手机号码等需求，
                        同时，企业可以自定义机器人的音色与表达方式</div>
                    <span class="icon icons-R1"></span>
                </div>
                <div class="robot-style">
                    <span class="icon icons-R2"></span>
                    <div class="font-size-large line-height-35 color-666 dis col-8 nomargin">生日祝福Robot<br/>
                        定制生日问候计划、自动代企业向目标受众发起生日祝福电话，无论是您的注册会员、企业员工、老
                        人、潜在用户，都能帮您传达生日祝福，您还可以交代机器人如何说话以及在祝福是要说的其他内容</div>
                    <div class="line dis"></div>
                    <span class="icon icons-welcome_care"></span>
                </div>
                <div class="robot-style">
                    <span class="icon icons-welcome_sales"></span>
                    <div class="line dis"></div>
                    <div class="font-size-large line-height-35 color-666 dis col-8">促销播报Robot<br/>
                        人工智能时代，企业不再需要组建一支庞大的电销团队，您只需有几位电销主管来管理机器人，让机器人帮
                        您去做电销，效率杠杠的，效果棒棒哒</div>
                    <span class="icon icons-R3 margin_top25"></span>
                </div>
                <div class="robot-style">
                    <span class="icon icons-R4"></span>
                    <div class="font-size-large line-height-35 color-666 dis col-8">信息传达Robot<br/>
                        无论是政府的政策普及宣传、重大灾情事故预警、法律条款告知、企业信息公示、会员活动预热...统统包揽，
                        能验证码号质量、采集用户信息及反馈、掌握信息实际递及率</div>
                    <div class="line dis"></div>
                    <span class="icon icons-welcome_message"></span>
                </div>
                <div class="robot-style robot-style-border-bottom">
                    <span class="icon icons-welcome_more"></span>
                    <div class="line dis"></div>
                    <div class="font-size-large color-666 line-height-35 dis col-8">更多Robot<br/>
                        睿思智能社会服务云平台支持注册用户定制专属机器人，无论您有何种场景的机器人诉求，只需在平台提交
                        咨询表单，我们就有专业的机器人团队及时与您沟通
                    </div>
                    <span class="icon icons-R5"></span>
                </div>
                <div class="robot-summarize">
                    <div class="font-size-18 color-666 line-height-15 wrapper-padding-30">睿思智能社会服务云平台，基于人工智能和大数据技术智造劳动力，让社会更智能，做事更轻松一点。</div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-align-center font-size-normal endbgcolor color-white wrapper-padding-30 line-height-15">
        <p>&copy;灵伴科技</p>
        <p>010-82378020-806</p>
        <p><a href="mailto:marketing@ling-ban.com" class="color-white">marketing@ling-ban.com</a></p>
    </div>
</div>