<div lb-aside-directive></div>
<div class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200">章节设置</div>
        <div class="font-size-normal ">
            <em class="path" ng-click="utils.href('/')">首页</em>
            <em> / </em>
            <em class="path" ng-click="utils.href('/classList')">班级管理</em>
            <em> / </em>
            <em class="path" ng-click="utils.href('/class/course')">课程管理</em>
            <em> / </em>
            <em class="last">章节设置</em>
        </div>
    </div>
    <div class="main-wrapper" ng-show="true">
        <div class="form-item">
            <div class="title">章节主题：</div>
            <div class="content">
                <input type="text" class="input" name="name" ng-value="t_chapter.description_exercise">
            </div>
        </div>
        <div class="form-item">
            <div class="title">章节简介：</div>
            <div class="content">
                <input type="text" class="input" name="name" ng-value="t_chapter.description_content">
            </div>
        </div>
        <div class="form-item">
            <div class="title">章节状态：</div>
            <div class="content">
                <select class="select" name="voice_type" ng-model="voiceRobot.sound" required>
                    <option value="">准备中</option>
                    <option value="">已开放</option>
                    <option ng-repeat="sound in soundList" value="{{ sound.id }}" ng-bind="sound.name"></option>
                </select>
                <pre  class="line-height-15 color-blue">学生只能看到已开放的章节</pre>
            </div>
        </div>
        <div class="form-item">
            <div class="title">呈现顺序：</div>
            <div class="content">
                <select class="select" name="voice_type" ng-model="voiceRobot.sound" required>
                    <option value="">顺序</option>
                    <option value="">随机</option>
                    <option ng-repeat="sound in soundList" value="{{ sound.id }}" ng-bind="sound.name"></option>
                </select>
            </div>
        </div>
        <div class="form-item">
            <div class="title">练习流程：</div>
            <div class="content">
                <select class="select" name="voice_type" ng-model="voiceRobot.sound" required>
                    <option value="">错题不重做</option>
                    <option value="">错题重做一次</option>
                    <option value="">错题重做到正确</option>
                    <option ng-repeat="sound in soundList" value="{{ sound.id }}" ng-bind="sound.name"></option>
                </select>
            </div>
        </div>
        <div class="form-op">
            <span class="op btn-blue" ng-click="chapterUpdate()">确认</span>
            <span class="op btn-blue" ng-click="utils.href('/class/courseSetting')">取消</span>
        </div>
    </div>

</div>