<div lb-aside-directive></div>
<div class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200">班级管理</div>
        <div class="font-size-normal ">
            <em class="last">班级管理</em>
        </div>
    </div>
    <div class="main-wrapper" ng-show="true">
        <div class="title-1">
            <span class="title">班级列表</span>
            <div class="right">
                <select class="select" ng-model="conditions.common.startYear" ng-options="act for act in activities" ng-change="getclasslist()"></select>
                <input type="text" class="input retrieval" placeholder="班级名称" ng-model="conditions.common.name"><!-- ng-change="getclasslist()"-->
                <span class="icons-search" ng-click="getclasslist()"></span>
                <span class="op btn-blue" ng-click="utils.href('/createClass')">创建班级</span>
                <!--<span class="op btn-blue" ng-click="classList()">获取数据</span>-->
            </div>
        </div>
        <div class="table-list">
            <table class="data-list">
                <tr>
                    <!--<th>序号</th>-->
                    <th>开班时间</th>
                    <th>班级名称</th>
                    <th>课程名称</th>
                    <th>任课老师</th>
                    <th>学生人数</th>
                    <th>班级代码</th>
                    <th>班级状态</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="t_classArr in t_classListArr track by $index">
                    <!--<td ng-bind="(conditions.pageInfo.page - 1) * conditions.pageInfo.pageSize + $index + 1"></td>-->
                    <td ng-bind="t_classArr.startTime"></td>
                    <td ng-bind="t_classArr.name"></td>
                    <td ng-bind="t_classArr.courseName"></td>
                    <td ng-bind="t_classArr.teacherName"></td>
                    <td ng-bind="t_classArr.memberSize"></td>
                    <td ng-bind="t_classArr.sequenceNo"></td>
                    <td ng-bind="statusMap[t_classArr.status]"></td>
                    <!--<td ng-bind="t_class.id"></td>-->
                    <td>
                        <a ng-click="utils.href('/classDetail/'+t_classArr.id+'/'+t_classArr.courseId)">班级设置</a>
                        <a ng-click="utils.href('/class/courseSetting/'+t_classArr.courseId)">课程管理</a>
                        <a ng-click="utils.href('/class/student/'+t_classArr.id)">学生管理</a>
                        <!--<a ng-click="openPop('pop-del')">删除</a>-->
                        <a ng-click="delclass(t_classArr.id)">删除</a><!--/*&& utils.href('/class/delClass/'+t_classArr.id)*/-->
                    </td>
                </tr>
            </table>
            <div class="pages">
                <div class="right">
                    <div class="page-size font-size-normal left">
                        <span>共{{ total }}条记录</span>
                    </div>
                    <div lb-page-directive class="right" data="t_classListArr" page-info="conditions.pageInfo" fetch="getclasslist"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="pop-del" class="pop">
        <div class="pop-title">删除<span class="icons-close close" ng-click="closePop('pop-del')"></span></div>
        <div class="pop-content">
            <div class="form-item">
                <div class="text">确定要删除<span ng-model="t_classArr.name"></span></div>
            </div>
            <div class="form-op">
                <span class="op btn-blue" ng-click="utils.href('/class/delClass/'+t_classArr.id)">删除</span><!--&& utils.href('/class/delClass/'+t_classListArr.id)-->
                <span class="op btn-blue" ng-click="closePop('pop-del')">取消</span>
            </div>
        </div>
    </div>
</div>