<div lb-aside-directive></div>
<div id="exercise" class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200">习题管理</div>
        <div class="font-size-normal ">
            <em class="path" ng-click="utils.href('/classList')">班级管理</em>
            <em> / </em>
            <!--<em class="path" ng-click="daohang()">课程管理</em>
            <em> / </em>-->
            <em class="last">习题管理</em>
        </div>
    </div>
    <div class="main-wrapper" ng-show="true">
        <div class="title-1">
            <span class="title">章节信息</span>
        </div>
        <div class="title-2">
            <div class="clearfix">
                <span class="font-size-16">章节名称：</span><span ng-bind="t_chapterInfo.name"></span>
            </div>
            <div class="clearfix">
                <span class="font-size-16 intro left">章节简介 : </span><span ng-bind="t_chapterInfo.descriptionContent"></span>
            </div>
        </div>
    </div>
    <div class="main-wrapper" ng-show="true">
        <div class="title-1">
            <span class="title">习题列表</span>
            <div class="right">
                <!--<select class="select" ng-model="conditions.common.startYear" ng-options="act for act in activities"></select>-->
                <!--<select class="select" ng-model="conditions.common.startYear" >
                    <option>音节数</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
                <select class="select">
                    <option>等级</option>
                    <option>HSK1</option>
                    <option>HSK2</option>
                    <option>HSK3</option>
                    <option>HSK4</option>
                    <option>HSK5</option>
                    <option>HSK6</option>
                    <option>超纲</option>
                </select>
                <input type="text" class="input retrieval" placeholder="关键词" ng-model="conditions.common.outCallNo">
                <span class="icons-search"></span>-->
                <span class="op btn-blue bgcolor-blue" ng-click="utils.href('/class/exercise_add/'+t_chapterInfo.id)">添加习题</span>
            </div>
        </div>
        <div class="table-list">
            <table class="data-list">
                <tr>
                    <!--<th>序号</th>-->
                    <th>词汇</th>
                    <th>声调</th>
                    <th>轻声</th>
                    <th>儿化音</th>
                    <th>音节数</th>
                    <th>说话人</th>
                    <th>等级</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="t_exe_list in t_exerciseList">
                    <!--<td ng-bind="$index+1"></td>-->
                    <td ng-bind="t_exe_list.pronunciationQuestions.chsChars"></td>
                    <td ng-bind="t_exe_list.pronunciationQuestions.tones"></td>
                    <td ng-bind="qingshengMap[t_exe_list.pronunciationQuestions.qingsheng]"></td>
                    <td ng-bind="erhuaMap[t_exe_list.pronunciationQuestions.erhua]"></td>
                    <td ng-bind="t_exe_list.pronunciationQuestions.nbSyllables"></td>
                    <td ng-bind="speakerMap[t_exe_list.pronunciationQuestions.speaker]"></td>
                    <td ng-bind="hskLevelMap[t_exe_list.pronunciationQuestions.hskLevel]"></td>
                    <td>
                        <a ng-click="exe_del(t_exe_list.id)">删除</a>
                    </td>
                </tr>
            </table>
            <div class="pages">
                <div class="right">
                    <div class="page-size font-size-normal left">
                        <span>共{{ total }}条记录</span>
                    </div>
                    <div lb-page-directive class="right" data="t_exerciseList" page-info="conditions.pageInfo" fetch="t_exe_List"></div>
                </div>
            </div>
        </div>
    </div>
</div>