<div lb-aside-directive></div>
<div class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200">添加习题</div>
        <div class="font-size-normal ">
            <em class="path" ng-click="utils.href('/')">首页</em>
            <em> / </em>
            <em class="path" ng-click="utils.href('/classList')">班级管理</em>
            <em> / </em>
            <em class="path" ng-click="utils.href('/class/course')">课程管理</em>
            <em> / </em>
            <em class="path" ng-click="utils.href('/class/exercise')">习题管理</em>
            <em> / </em>
            <em class="last">添加习题</em>
        </div>
    </div>
    <div class="main-wrapper" ng-show="true">
        <div class="title-1">
            <span class="title">检索条件</span>
        </div>
        <div class="col-three">
            <div class="form-item">
                <div class="title">章节主题：</div>
                <div class="content">
                    <input type="text" class="input" name="name"  required ng-maxlength="30" value="章节主题">
                </div>
            </div>
        </div>
        <div class="col-three">
            <div class="form-item">
                <div class="title">汉字：</div>
                <div class="content">
                    <input type="text" class="input" name="name"  required ng-maxlength="30" value="">
                </div>
            </div>
        </div>
        <div class="col-three">
            <div class="form-item">
                <div class="title">音节数：</div>
                <div class="content">
                    <select class="select" name="voice_type" ng-model="voiceRobot.sound" required>
                        <option value="">全部</option>
                        <option value="">3</option>
                        <option value="">2</option>
                        <option value="">4</option>
                        <option ng-repeat="sound in soundList" value="{{ sound.id }}" ng-bind="sound.name"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-three">
            <div class="form-item">
                <div class="title">声调：</div>
                <div class="content">
                    <select class="select" name="voice_type" ng-model="voiceRobot.sound" required>
                        <option value="">全部</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option ng-repeat="sound in soundList" value="{{ sound.id }}" ng-bind="sound.name"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-three">
            <div class="form-item">
                <div class="title">说话人：</div>
                <div class="content">
                    <select class="select" name="voice_type" ng-model="voiceRobot.sound" required>
                        <option value="">全部</option>
                        <option value="">男</option>
                        <option value="">女</option>
                        <option ng-repeat="sound in soundList" value="{{ sound.id }}" ng-bind="sound.name"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-three">
            <div class="form-item">
                <div class="title">等级：</div>
                <div class="content">
                    <select class="select" name="voice_type" ng-model="voiceRobot.sound" required>
                        <option value="">全部</option>
                        <option value="">hsk-3</option>
                        <option value="">hsk-6</option>
                        <option ng-repeat="sound in soundList" value="{{ sound.id }}" ng-bind="sound.name"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-three">
            <div class="form-item">
                <div class="title">轻声：</div>
                <div class="content">
                    <select class="select" name="voice_type" ng-model="voiceRobot.sound" required>
                        <option value="">全部</option>
                        <option value="">是</option>
                        <option value="">否</option>
                        <option ng-repeat="sound in soundList" value="{{ sound.id }}" ng-bind="sound.name"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-three">
            <div class="form-item">
                <div class="title">儿化音：</div>
                <div class="content">
                    <select class="select" name="voice_type" ng-model="voiceRobot.sound" required>
                        <option value="">全部</option>
                        <option value="">是</option>
                        <option value="">否</option>
                        <option ng-repeat="sound in soundList" value="{{ sound.id }}" ng-bind="sound.name"></option>
                    </select>
                </div>
            </div>
        </div>
        <br/>
        <div class="form-op">
            <span class="op btn-blue" ng-click="utils.href('/class/course')">确认</span>
            <span class="op btn-blue" ng-click="utils.href('/class/course')">取消</span>
        </div>
    </div>
    <div class="main-wrapper" ng-show="true">
        <div class="title-1">
            <span class="title">习题列表</span>
        </div>
        <div class="table-list">
            <table class="data-list">
                <tr>
                    <th><input type="checkbox" name="checkbox1" value="checkbox"></th>
                    <th>序号</th>
                    <th>汉字</th>
                    <th>音节数</th>
                    <th>声调</th>
                    <th>说话人</th>
                    <th>等级</th>
                    <th>轻声</th>
                    <th>儿化音</th>
                </tr>
                <tr>
                    <td><input type="checkbox" name="checkbox1" value="checkbox"></td>
                    <td>1</td>
                    <td>韵</td>
                    <td>1</td>
                    <td>3</td>
                    <td>男</td>
                    <td>hsk-1</td>
                    <td>必读</td>
                    <td>有</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="checkbox1" value="checkbox"></td>
                    <td>2</td>
                    <td>韵</td>
                    <td>1</td>
                    <td>3</td>
                    <td>男</td>
                    <td>hsk-1</td>
                    <td>必读</td>
                    <td>有</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="checkbox1" value="checkbox"></td>
                    <td>3</td>
                    <td>韵</td>
                    <td>1</td>
                    <td>3</td>
                    <td>男</td>
                    <td>hsk-1</td>
                    <td>必读</td>
                    <td>有</td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="checkbox1" value="checkbox"></td>
                    <td>4</td>
                    <td>韵</td>
                    <td>1</td>
                    <td>3</td>
                    <td>男</td>
                    <td>hsk-1</td>
                    <td>必读</td>
                    <td>有</td>
                </tr>
            </table>
        </div>
        <div class="form-op">
            <span class="op btn-blue" ng-click="utils.href('/class/course')">添加</span>
            <span class="op btn-blue" ng-click="utils.href('/class/course')">取消</span>
        </div>
    </div>
</div>