<div lb-aside-directive></div>
<div id="exercise" class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200">习题管理</div>
        <div class="font-size-normal ">
            <em class="path" ng-click="utils.href('/')">首页</em>
            <em> / </em>
            <em class="path" ng-click="utils.href('/classList')">班级管理</em>
            <em> / </em>
            <em class="path" ng-click="utils.href('/class/course')">课程管理</em>
            <em> / </em>
            <em class="last">习题管理</em>
        </div>
    </div>
    <div class="main-wrapper" ng-show="true">
        <div class="title-1">
            <span class="title">习题管理</span>
            <div class="right">
                <label>筛选条件</label>
                <select class="select">
                    <option></option>
                    <option></option>
                    <option></option>
                </select>
                <input type="text" class="input" placeholder="题" ng-model="conditions.common.outCallNo">
                <span class="icons-search"></span>
                <span class="op btn-blue bgcolor-blue" ng-click="utils.href('/createClass')">+ 新建习题</span>
                <!--<span class="op btn-blue" ng-click="classList()">获取数据</span>-->
            </div>
        </div>
        <div class="table-list">
            <table class="data-list">
                <tr>
                    <th>序号</th>
                    <th style="width: 50%">习题</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>韵母（一）</td>
                    <td>
                        <a ng-click="utils.href('')">上移</a>
                        <a ng-click="utils.href('')">下移</a>
                        <a ng-click="utils.href('')">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>韵母（一）</td>
                    <td>
                        <a ng-click="utils.href('')">上移</a>
                        <a ng-click="utils.href('')">下移</a>
                        <a ng-click="utils.href('')">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>韵母（一）</td>
                    <td>
                        <a ng-click="utils.href('')">上移</a>
                        <a ng-click="utils.href('')">下移</a>
                        <a ng-click="utils.href('')">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>韵母（一）</td>
                    <td>
                        <a ng-click="utils.href('')">上移</a>
                        <a ng-click="utils.href('')">下移</a>
                        <a ng-click="utils.href('')">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>韵母（一）</td>
                    <td>
                        <a ng-click="utils.href('')">上移</a>
                        <a ng-click="utils.href('')">下移</a>
                        <a ng-click="utils.href('')">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>韵母（一）</td>
                    <td>
                        <a ng-click="utils.href('')">上移</a>
                        <a ng-click="utils.href('')">下移</a>
                        <a ng-click="utils.href('')">删除</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>