<div lb-aside-directive></div>
<div class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200">学生管理</div>
        <div class="font-size-normal ">
            <em class="path" ng-click="utils.href('/')">首页</em>
            <em> / </em>
            <em class="path" ng-click="utils.href('/')">班级管理</em>
            <em> / </em>
            <em class="last">学生管理</em>
        </div>
    </div>
    <div class="main-wrapper" ng-show="true">
        <div class="title-1">
            <span class="title">学生列表</span>
            <div class="right">
                <input type="text" class="input retrieval" placeholder="根据姓名、备注查找学生" ng-model="conditions.common.outCallNo">
                <span class="icons-search"></span>
                <select class="select">
                    <option>性别</option>
                    <option>男</option>
                    <option>女</option>
                </select>
                <select class="select">
                    <option>国籍</option>
                    <option>美国</option>
                    <option>加拿大</option>
                </select>

                <!--<span class="op btn-blue" ng-click="utils.href('/createClass')">创建班级</span>-->
                <!--<span class="op btn-blue" ng-click="classList()">获取数据</span>-->
            </div>
        </div>
        <div class="table-list">
            <table class="data-list">
                <tr>
                    <th>中文姓名</th>
                    <th>英文姓名</th>
                    <th>性别</th>
                    <th>国籍</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
                <tr ng-repeat="t_c_student_List in class_student">
                    <td ng-bind="t_c_student_List.chineseName">闫乐坤</td>
                    <td ng-bind="t_c_student_List.englishName">yan leCun</td>
                    <td ng-bind="t_c_student_List.gender">男</td>
                    <td ng-bind="t_c_student_List.nationality">比如国籍是十个字的情况</td>
                    <td ng-bind="t_c_student_List.remark">法裔长点长点长点长点长点</td>
                    <td>
                        <a ng-click="utils.href('/class/studentDetail/'+t_c_student_List.id)">学生详情</a>
                        <a ng-click="openPop('pop-Remarks')">编辑备注</a>
                        <a ng-click="openPop('pop-resetpwd')">重置密码</a>
                        <a ng-click="studentDel(classesID,t_c_student_List.id)">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>闫乐坤</td>
                    <td>yan leCun</td>
                    <td>男</td>
                    <td>美国</td>
                    <td>法裔</td>
                    <td>
                        <a ng-click="utils.href('/class/studentDetail')">学生详情</a>
                        <a ng-click="openPop('pop-Remarks')">编辑备注</a>
                        <a ng-click="utils.href('')">重置密码</a>
                        <a ng-click="utils.href('')">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>闫乐坤</td>
                    <td>yan leCun</td>
                    <td>男</td>
                    <td>美国</td>
                    <td>法裔</td>
                    <td>
                        <a ng-click="utils.href('/class/studentDetail')">学生详情</a>
                        <a ng-click="utils.href('')">编辑备注</a>
                        <a ng-click="utils.href('')">重置密码</a>
                        <a ng-click="utils.href('')">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>闫乐坤</td>
                    <td>yan leCun</td>
                    <td>男</td>
                    <td>美国</td>
                    <td>法裔</td>
                    <td>
                        <a ng-click="utils.href('/class/studentDetail')">学生详情</a>
                        <a ng-click="utils.href('')">编辑备注</a>
                        <a ng-click="utils.href('')">重置密码</a>
                        <a ng-click="utils.href('')">删除</a>
                    </td>
                </tr>
                <tr>
                    <td>闫乐坤</td>
                    <td>yan leCun</td>
                    <td>男</td>
                    <td>美国</td>
                    <td>法裔</td>
                    <td>
                        <a ng-click="utils.href('/class/studentDetail')">学生详情</a>
                        <a ng-click="utils.href('')">编辑备注</a>
                        <a ng-click="utils.href('')">重置密码</a>
                        <a ng-click="utils.href('')">删除</a>
                    </td>
                </tr>
            </table>
            <div class="pages">
                <div class="right">
                    <div class="page-size font-size-normal">
                        <span>共{{ total }}条记录</span>
                    </div>
                    <div class="page-directive color-blue spacefix left">
                        <span class="prev text-align-center font-size-normal">上一页</span>
                        <table class="page-table font-size-normal">
                            <tbody>
                            <tr>
                                <td class="page-num bgcolor-blue color-white border-blue page-num text-align-center">1</td>
                                <td class="border-grey color-blue page-num text-align-center">2</td>
                            </tr>
                            </tbody>
                        </table>
                        <span class="next text-align-center font-size-normal" >下一页</span>
                    </div>
                </div>
                <div class="left">

                </div>
                <!--<div lb-page-directive data="robotList" page-info="conditions.pageInfo" fetch="getRobotList"></div>-->

            </div>
            <div id="pop-Remarks" class="pop">
                <div class="pop-title">编辑备注</div>

                <div class="pop-content">
                    <div class="form-item">
                        <div class="content">
                            <label>备注:</label>
                            <input type="text" class="input" name="name"  required ng-maxlength="30" ng-model="studentInfo_r.remark">
                        </div>
                    </div>
                    <div class="form-op">
                        <span class="op btn-blue" ng-click="submit11()">确定</span>
                        <span class="op btn-blue" ng-click="closePop('pop-Remarks') ">取消</span>
                    </div>
                </div>
            </div>
            <div id="pop-resetpwd" class="pop">
                <div class="pop-title">重置密码<span class="icons-close close" ng-click="closePop('pop-resetpwd')"></span></div>
                <div class="pop-content">
                    <div class="form-item">
                        <div class="text">原密码已重置为“1121212121”</div>
                    </div>
                    <div class="form-op">
                    <span class="op btn-blue" ng-click="closePop('pop-resetpwd')">保存</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>