<div lb-aside-directive></div>
<div class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200">学生详情</div>
        <div class="font-size-normal ">
            <em class="path" ng-click="utils.href('/')">首页</em>
            <em> / </em>
            <em class="path" ng-click="utils.href('/')">班级管理</em>
            <em> / </em>
            <em class="path" ng-click="utils.href('/class/student')">学生管理</em>
            <em> / </em>
            <em class="last">学生详情</em>
        </div>
    </div>
    <div class="main-wrapper student-detail" ng-show="true">
        <div class="form-item">
            <div class="title">英文名：</div>
            <div class="content text">Yan lekun</div>
        </div>
        <div class="form-item">
            <div class="title">中文名：</div>
            <div class="content text">闫乐坤</div>
        </div>
        <div class="form-item">
            <div class="title">性别：</div>
            <div class="content text">男</div>
        </div>
        <div class="form-item">
            <div class="title">邮箱：</div>
            <div class="content text">soffia@163</div>
        </div>
        <div class="form-item">
            <div class="title">年龄：</div>
            <div class="content text">23</div>
        </div>
        <div class="form-item">
            <div class="title">手机号：</div>
            <div class="content text">18535112317</div>
        </div>
        <div class="form-item">
            <div class="title">国籍：</div>
            <div class="content text">England</div>
        </div>
        <div class="form-item">
            <div class="title">母语：</div>
            <div class="content text">English</div>
        </div>
        <div class="form-item">
            <div class="title">外语：</div>
            <div class="content text">chinese,Japanese</div>
        </div>
        <div class="form-op">
            <span class="op btn-blue" ng-click="utils.href('/class/student')">确认</span>
        </div>
    </div>

</div>