<div lb-aside-directive></div>
<div id="profile" class="main-page-margin">
    <div class="main-wrapper">
        <div class="title-1 user-info">
            <span class="title">个人信息</span>
        </div>
        <form name="t_editPassword" novalidate>
        <div class="main-wrapper" ng-show="true">
            <div class="form-item">
                <div class="title">原始密码：</div>
                <div class="content">
                    <input type="password" class="input" name="oldPassword" required   ng-model="t_password.oldPassword">
                    <div class="error" ng-show="t_editPassword.oldPassword.$dirty&&t_editPassword.oldPassword.$invalid">请输入原始密码</div>
                </div>

            </div>
            <div class="form-item">
                <div class="title">新密码：</div>
                <div class="content">
                    <input type="password" class="input" name="newPassword"required   ng-model="t_password.newPassword">
                    <div class="error" ng-show="t_editPassword.newPassword.$dirty&&t_editPassword.newPassword.$invalid">请输入新密码</div>
                </div>
            </div>
            <div class="form-item">
                <div class="title">确认密码：</div>
                <div class="content">
                    <input type="password" class="input" name="makeSurePassword" ng-model="t_password.makeSurePassword">
                    <div ng-show="t_editPassword.makeSurePassword.$dirty">
                        <div class="error" ng-show="t_password.newPassword != t_password.makeSurePassword">两次密码输入不一致</div>
                    </div>
                </div>
            </div>

            <div class="form-op">
                <span class="op btn-blue" ng-click="t_editPassword.oldPassword.$dirty=true;
                                                    t_editPassword.newPassword.$dirty=true;
                                                    t_editPassword.makeSurePassword.$dirty = true;
                                                    t_editPassword.makeSurePassword.$dirty = true;
                                                    t_editPassword.$valid && t_password.newPassword == t_password.makeSurePassword && t_submitPassword()">确认</span>
            </div>
        </div>
        </form>
    </div>
</div>