#course{
    .title-2{
        border-bottom: none;
        .clearfix{
            margin: 20px 0;
            .icon{
                margin: 0 10px;
            }
        }
        .intro{
            height: auto;
        }
        .left{
            height: 20px;
        }
    }

}
.retrieval{
    margin-right: -22px;
}