#exercise{
    .title-2{
        border-bottom: none;
        .clearfix{
            margin: 20px 0;
            .icon{
                margin: 0 10px;
            }
        }
        .intro{
            height: auto;
        }
        .left{
            height: 20px;
        }
    }
}
.col-three{
    width: 33%;
    display: inline-block;
    .form-item{
        .title{
            width: 60px;
        }
        .content{
            margin-left: 60px;
        }
    }
}
.prompt{
    height: 40px;
    line-height: 40px;
}