<div id="monitoring">
    <div class="fix-wrapper">
        <div class="spacefix">
            <div class="col-2-4 text-align-center">
                <div class="card font-size-large border-grey">
                    <div class="card-title">机器人坐席</div>
                    <div class="card-content">
                        53%
                    </div>
                </div>
            </div>
            <div class="col-2-4 text-align-center">
                <div class="card font-size-large border-grey">
                    <div class="card-title">当日通话量</div>
                    <div class="card-content">
                        <svg id="chat-count" class="d3-small"></svg>
                        <span>233</span>
                    </div>
                </div>
            </div>
            <div class="col-2-4 text-align-center">
                <div class="card font-size-large border-grey">
                    <div class="card-title">平均时长</div>
                    <div class="card-content">
                        1分30秒
                    </div>
                </div>
            </div>
            <div class="col-2-4 text-align-center">
                <div class="card font-size-large border-grey">
                    <div class="card-title">正常挂断</div>
                    <div class="card-content">
                        <svg id="normal-chat" class="d3-small"></svg>
                        <span>549</span>
                    </div>
                </div>
            </div>
            <div class="col-2-4 text-align-center">
                <div class="card font-size-large border-grey">
                    <div class="card-title">异常挂断</div>
                    <div class="card-content">
                        <svg id="error-chat" class="d3-small"></svg>
                        <span>456</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="robot-monitor">
            <div class="title-1">
                <div class="title">监控对话</div>
            </div>
            <div class="robot-list color-white spacefix line-height-15">
                <div class="robot robot-normal font-size-normal">
                    <div>
                        <span>坐席：</span><span class="some-space">053</span>
                        <span>客户电话：</span><span>1326468463 </span>
                        <span class="icon icons-close close"></span>
                    </div>
                    <div>
                        <span>开始：</span><span class="some-space">12:50</span>
                        <span>持续：</span><span>2分30秒</span>
                    </div>
                    <div>
                        <span class="icon icons-spread spread" ng-click="openPop('pop-dialog')"></span>
                    </div>
                </div>
                <div class="robot robot-error font-size-normal">
                    <div>
                        <span>坐席：</span><span class="some-space">053</span>
                        <span>客户电话：</span><span>1326468463 </span>
                        <span class="icon icons-close close"></span>
                    </div>
                    <div>
                        <span>开始：</span><span class="some-space">12:50</span>
                        <span>持续：</span><span>2分30秒</span>
                    </div>
                    <div>
                        <span class="icon icons-spread spread"></span>
                    </div>
                </div>
                <div class="robot robot-warning font-size-normal">
                    <div>
                        <span>坐席：</span><span class="some-space">053</span>
                        <span>客户电话：</span><span>1326468463 </span>
                        <span class="icon icons-close close"></span>
                    </div>
                    <div>
                        <span>开始：</span><span class="some-space">12:50</span>
                        <span>持续：</span><span>2分30秒</span>
                    </div>
                    <div>
                        <span class="icon icons-spread spread"></span>
                    </div>
                </div>
            </div>
            <!--
            <div class="robot-page">
                <div class="paging">
                    <div lb-page-directive data="" page-info="" fetch=""></div>
                </div>
                <div class="clearfix"></div>
            </div>
            -->
        </div>
    </div>
    <div id="pop-dialog" class="pop">
        <div class="title">对话列表<span class="icons-close close" ng-click="closePop('pop-dialog')"></span></div>
        <div class="pop-content">
            <p class="color-555">
                <span>坐席：</span><span class="some-space">53</span>
                <span>客户电话：</span><span class="some-space">13521889921</span>
                <span>开始：</span><span class="some-space">12:00</span>
                <span>持续：</span><span>3分50秒</span>
            </p>
            <div class="dialog-list bgcolor-grey">
                <div class="message">
                    <div class="message-content text-align-right">
                        <div class="msg bgcolor-blue color-white">请问能为您做点什么吗？</div>
                    </div>
                    <span class="icon icons-head-robot head-robot"></span>
                </div>
                <div class="message">
                    <span class="icon icons-head-client head-client"></span>
                    <div class="message-content">
                        <div class="msg border-grey bgcolor-white">我想下地狱...</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>