<div lb-aside-directive></div>
<div id="monitoring" class="main-page-margin">
    <div id="monitoring_info" class="font-size-huge monitor-info">
        <div class="card border-grey">
            <div class="title font-weight-200">机器人坐席</div>
            <div class="data">53%</div>
        </div>
        <div class="card border-grey">
            <div class="title font-weight-200">当日通话量</div>
            <div class="data">13</div>
        </div>
        <div class="card border-grey">
            <div class="title font-weight-200">平均时长</div>
            <div class="data">1分3秒</div>
        </div>
        <div class="card border-grey">
            <div class="title font-weight-200">正常挂断</div>
            <div class="data">253</div>
        </div>
        <div class="card border-grey">
            <div class="title font-weight-200">异常挂断</div>
            <div class="data">53</div>
        </div>
    </div>

    <div class="wrapper-margin-20 border-grey">
        <div class="wrapper-padding-30">
            <div class="title-1">
                <span class="title">监控对话</span>
              <div class="left"></div>
                <div class="right"></div>
            </div>
        </div>
        <div class="records border-10">
            <div class="message-head">
                <div class="basic-msg">
                    坐席：053 客户电话：132646465<br><br>
                    开始：12：32 持续：2分23秒
                </div>
                <div class="development">展开</div>
            </div>

            <ul>
                <li>客户：你好！我要退票</li>
                <li>坐席：好的，请问你的姓名是？</li>
                <li>客户：蓝精灵</li>
                <li>坐席：你定的2022年3月4日12点23分，从北京出发的经济坐席，已经释放！</li>
            </ul>
        </div>
        <div class="records border-10">
            <div class="message-head">
                <div class="basic-msg">
                    坐席：053 客户电话：132646465<br><br>
                    开始：12：32 持续：2分23秒
                </div>
                <div class="development">展开</div>
            </div>

            <ul>
                <li>客户：你好！我要退票</li>
                <li>坐席：好的，请问你的姓名是？</li>
                <li>客户：蓝精灵</li>
                <li>坐席：你定的2022年3月4日12点23分，从北京出发的经济坐席，已经释放！</li>
            </ul>
        </div>
        <div class="records border-10">
            <div class="message-head">
                <div class="basic-msg">
                    坐席：053 客户电话：132646465<br><br>
                    开始：12：32 持续：2分23秒
                </div>
                <div class="development">展开</div>
            </div>

            <ul>
                <li>客户：你好！我要退票</li>
                <li>坐席：好的，请问你的姓名是？</li>
                <li>客户：蓝精灵</li>
                <li>坐席：你定的2022年3月4日12点23分，从北京出发的经济坐席，已经释放！</li>
            </ul>
        </div>
        <div class="records border-10">
            <div class="message-head">
                <div class="basic-msg">
                    坐席：053 客户电话：132646465<br><br>
                    开始：12：32 持续：2分23秒
                </div>
                <div class="development">展开</div>
            </div>

            <ul>
                <li>客户：你好！我要退票</li>
                <li>坐席：好的，请问你的姓名是？</li>
                <li>客户：蓝精灵</li>
                <li>坐席：你定的2022年3月4日12点23分，从北京出发的经济坐席，已经释放！</li>
            </ul>
        </div>
        <div class="records border-10">
            <div class="message-head">
                <div class="basic-msg">
                    坐席：053 客户电话：132646465<br><br>
                    开始：12：32 持续：2分23秒
                </div>
                <div class="development">展开</div>
            </div>

            <ul>
                <li>客户：你好！我要退票</li>
                <li>坐席：好的，请问你的姓名是？</li>
                <li>客户：蓝精灵</li>
                <li>坐席：你定的2022年3月4日12点23分，从北京出发的经济坐席，已经释放！</li>
            </ul>
        </div>
        <div class="records border-10">
            <div class="message-head">
                <div class="basic-msg">
                    坐席：053 客户电话：132646465<br><br>
                    开始：12：32 持续：2分23秒
                </div>
                <div class="development">展开</div>
            </div>

            <ul>
                <li>客户：你好！我要退票</li>
                <li>坐席：好的，请问你的姓名是？</li>
                <li>客户：蓝精灵</li>
                <li>坐席：你定的2022年3月4日12点23分，从北京出发的经济坐席，已经释放！</li>
            </ul>
        </div>
        <div class="records border-10">
            <div class="message-head">
                <div class="basic-msg">
                    坐席：053 客户电话：132646465<br><br>
                    开始：12：32 持续：2分23秒
                </div>
                <div class="development">展开</div>
            </div>

            <ul>
                <li>客户：你好！我要退票</li>
                <li>坐席：好的，请问你的姓名是？</li>
                <li>客户：蓝精灵</li>
                <li>坐席：你定的2022年3月4日12点23分，从北京出发的经济坐席，已经释放！</li>
            </ul>
        </div>
        <div class="records border-10">
            <div class="message-head">
                <div class="basic-msg">
                    坐席：053 客户电话：132646465<br><br>
                    开始：12：32 持续：2分23秒
                </div>
                <div class="development">展开</div>
            </div>

            <ul>
                <li>客户：你好！我要退票</li>
                <li>坐席：好的，请问你的姓名是？</li>
                <li>客户：蓝精灵</li>
                <li>坐席：你定的2022年3月4日12点23分，从北京出发的经济坐席，已经释放！</li>
            </ul>
        </div>
    </div>

</div>