#reg{
    height: 100%;
    background: #fff;
    #reg-wrapper{
        overflow: visible;
    }
    #title{
        height: 54px;
        line-height: 54px;
        text-align: center;
    }
    #reg-wrapper{
        width: 100%;
        position: absolute;
        form{
            width: 60%;
            margin-left: 20%;
            .title_lang{
                display: inline-block;
                width: 200px;
                height: $form-item-height;
                line-height: 20px;
                float: left;
                @extend .font-size-normal;
            }
            pre{
                margin-top: 0;
            }
        }
    }
    .reg-info{
        width: 100%;
        margin-top: 15px;
    }
    .code{
        width: 140px;
    }
    .get-code{
        float: right;
    }
    .op{
        margin-top: 15px;
    }
    #tips-wrapper{
        display: inline-block;
        width: 500px;
        height: 100px;
        position: absolute;
        left: 50%;
        margin-left: -250px;
        top: 50%;
        margin-top: -50px;
        .title{
            padding-left: 20px;
            height: 50px;
            line-height: 50px;
        }
    }
}