<div id="header" class="bgcolor-white " ng-show="showHeaderStudent">
    <div class="main-logo" ng-click="utils.href('/')">
        <div class="logo"></div>
        <div class="title font-size-large font-weight-200 color-block">Easy Learn学生系统</div>
    </div>
    <div id="main-status">
        <div class="user icon icons-user" ng-mouseover="showUserOp()" ng-mouseleave="hideUserOp()">
            <div class="user-op menu-list-1" ng-show="userOpIsShow" ng-mouseover="showUserOp()" ng-mouseleave="hideUserOp()">
                <div class="item">帐户信息</div>
                <div class="item">姓名：张金</div>
                <div class="item">学校：北京大学</div>
                <div class="item-cursor color-blue">修改密码</div>
            </div>
        </div>
        <div class="user exit" ng-click="logout()">退出</div>
    </div>
</div>