<div id="lb-robot-directive">
    <div class="robot font-size-normal line-height-15" ng-show="robot == 1">
        <span class="icon icons-R1"></span>
        <p>语音验证Robot</p>
        <p>机器人来电，语音通知验证码，为企业代言</p>
        <p class="color-555">1、创建语音验证码机器人<br>2、系统对接联调<br>3、机器人上线</p>
    </div>
    <div class="robot font-size-normal line-height-15" ng-show="robot == 2">
        <span class="icon icons-R2"></span>
        <p>生日祝福Robot</p>
        <p class="color-555">生日关怀，节日祝福，随心随意随心意</p>
    </div>
</div>