<div id="lb-task-list-directive">
    <div class="title-1">
        <div class="left">
            <div class="page-size font-size-normal">
                <span>共{{ total }}条记录，每页</span>
                <select ng-model="conditions.pageInfo.pageSize" ng-change="getTaskList(1)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
                <span>条</span>
            </div>
        </div>
        <div class="right">
            <input type="text" class="input" value="" placeholder="关键词检索" ng-model="conditions.common.taskName">
        </div>
    </div>
    <div class="table-list">
        <table class="data-list">
            <tr>
                <th>序号</th>
                <th ng-click="conditions.order.taskName = utils.changeOrder(conditions.order.taskName); getTaskList(1)">任务名称<span class="icon {{ conditions.order.taskName == 0 ? 'icons-no-order' : conditions.order.taskName == 1 ? 'icons-up-order' : 'icons-down-order' }}"></span></th>
                <th>任务进度（总数/已完成/已接通）</th>
                <th>
                    <select ng-model="conditions.common.status" ng-change="getTaskList(1)">
                        <option value="">任务状态</option>
                        <option ng-repeat="(status, description) in taskStatusList" value="{{ status }}" ng-bind="description"></option>
                    </select>
                </th>
                <th ng-click="conditions.order.startTime = utils.changeOrder(conditions.order.startTime); getTaskList(1)">执行时间<span class="icon {{ conditions.order.startTime == 0 ? 'icons-no-order' : conditions.order.startTime == 1 ? 'icons-up-order' : 'icons-down-order' }}"></span></th>
                <th ng-click="conditions.order.createTime = utils.changeOrder(conditions.order.createTime); getTaskList(1)">创建时间<span class="icon {{ conditions.order.createTime == 0 ? 'icons-no-order' : conditions.order.createTime == 1 ? 'icons-up-order' : 'icons-down-order' }}"></span></th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="task in taskList track by $index">
                <td ng-bind="(conditions.pageInfo.page - 1) * conditions.pageInfo.pageSize + $index + 1"></td>
                <td ng-bind="task.taskName"></td>
                <td ng-bind="task.jobTotalCount + '/' + task.jobFinishCount + '/' + task.jobConnectCount"></td>
                <td ng-bind="taskStatusList[task.status]"></td>
                <td ng-bind="task.startTime | lbUTCDate:'yyyy-MM-dd'"></td>
                <td ng-bind="task.createTime | lbUTCDate:'yyyy-MM-dd'"></td>
                <td>
                    <span class="op" ng-click="utils.href('/task/' + task.id)">详情</span>
                    <span class="op" ng-click="operateTask(task, 3)" ng-show="(task.status | lbConfigFilter:'taskStatus') == 'running'">暂停</span>
                    <span class="op" ng-click="operateTask(task, 2)" ng-show="(task.status | lbConfigFilter:'taskStatus') == 'notStart'">立即开始</span>
                    <span class="op" ng-click="operateTask(task, 2)" ng-show="(task.status | lbConfigFilter:'taskStatus') == 'paused'">继续</span>
                    <span class="op" ng-click="utils.href('/editTask/' + task.id)" ng-show="(task.status | lbConfigFilter:'taskStatus') == 'notStart'">编辑</span>
                    <span class="op" ng-click="operateTask(task, 4)" ng-show="(task.status | lbConfigFilter:'taskStatus') == 'running' || (task.status | lbConfigFilter:'taskStatus') == 'paused'">终止</span>
                    <a href="{{ exportUrl + task.id }}" download="{{ exportUrl + task.id }}" target="_blank" ng-show="(task.status | lbConfigFilter:'taskStatus') == 'end'">
                        <span class="op">导出</span>
                    </a>
                </td>
            </tr>
        </table>
        <div class="pages">
            <div lb-page-directive data="list" page-info="conditions.pageInfo" fetch="getTaskList"></div>
        </div>
    </div>
</div>