<div lb-aside-directive></div>
<div class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200">我的课程</div>
        <div class="font-size-normal ">
            <em class="last">我的课程</em>
        </div>
    </div>
    <div class="main-wrapper" ng-show="true">
        <div class="title-1">
            <span class="title">课程列表</span>
            <div class="right">
                <!--<label>开课时间</label>
                <select class="select">
                    <option>2016年6月</option>
                    <option>2016年8月</option>
                    <option>2016年9月</option>
                </select>
                <label>关键词</label>
                <input type="text" class="input retrieval" placeholder="关键词" ng-model="conditions.common.outCallNo">
                <span class="icons-search"></span>-->
                <span class="op btn-blue" ng-click="openPop('pop-class')">+ 加入课程</span>
                <!--<span class="op btn-blue" ng-click="classList()">获取数据</span>-->
            </div>
        </div>
        <div class="table-list">
            <table class="data-list">
                <tr>
                    <!--<th>序号</th>-->
                    <th>开课时间</th>
                    <th>课程名称</th>
                    <th>任课教师</th>
                    <th>课程状态</th>
                    <th>操作</th>

                </tr>
                <tr ng-repeat=" s_course_list in s_myCourse track by $index">
                    <!--<td ng-bind="(conditions.pageInfo.page - 1) * conditions.pageInfo.pageSize + $index + 1"></td>-->
                    <td ng-bind="s_course_list.classesStartTime"></td>
                    <td ng-bind="s_course_list.name"></td>
                    <td ng-bind="s_course_list.teacherName"></td>
                    <td ng-bind="classesStatusMap[s_course_list.classesStatus]"></td>
                    <td>
                        <!--<a ng-click="openPop('pop-continue')">开始学习</a>-->
                        <a ng-click="utils.href('/student/course_detail/'+s_course_list.id)">课程详情</a>
                        <a ng-click="delCourse(s_course_list.classesId)">退出课程</a>
                        <!--<a ng-click="utils.href('/class/delCourse/'+s_course_list.id)">退出课程</a>-->
                    </td>
                </tr>
            </table>
            <!--<div class="pages">-->
                <!--<div class="right">-->
                    <!--<div class="page-size font-size-normal">-->
                        <!--<span>共{{ total }}条记录</span>-->
                    <!--</div>-->
                    <!--<div class="page-directive color-blue spacefix left">-->
                        <!--<span class="prev text-align-center font-size-normal">上一页</span>-->
                        <!--<table class="page-table font-size-normal">-->
                            <!--<tbody>-->
                            <!--<tr>-->
                                <!--<td class="page-num bgcolor-blue color-white border-blue page-num text-align-center">1</td>-->
                                <!--<td class="border-grey color-blue page-num text-align-center">2</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->
                        <!--<span class="next text-align-center font-size-normal">下一页</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="left">-->
                <!--</div>-->
                <!--&lt;!&ndash;<div lb-page-directive data="robotList" page-info="conditions.pageInfo" fetch="getRobotList"></div>&ndash;&gt;-->
            <!--</div>-->
        </div>
    </div>
    <div id="pop-class" class="pop">
        <div class="pop-title">加入课程</div>
        <div class="pop-content">
            <form name="addclass_form" novalidate>
            <div class="form-item">
                <div class="content">
                    <label>请输入班级代码:</label>
                    <input type="text" class="input" name="code" ng-maxlength="30" ng-model="s_myCourse.sequenceNo" required>
                    <div class="error" ng-show="addclass_form.code.$dirty && addclass_form.code.$invalid">请输入班级代码</div>
                </div>
            </div>
            <div class="form-op">
                <span class="op btn-blue" ng-click="addclass_form.code.$dirty = true;
                                                    addclass_form.$valid && addCourse(s_myCourse.sequenceNo)">确定</span>
                <span class="op btn-blue" ng-click="closePop('pop-class')">取消</span>
            </div>
            </form>
        </div>
    </div>
    <div id="pop-quit" class="pop">
        <div class="pop-title">退出课程<span class="icons-close close" ng-click="closePop('pop-resetpwd')"></span></div>
        <div class="pop-content">
            <div class="form-item">
                <div class="content">
                    <span>确认退出该课程？</span>
                </div>
            </div>
            <div class="form-op">
                <span class="op btn-blue" ng-click="closePop('pop-quit')">确定</span>
                <span class="op btn-blue" ng-click="closePop('pop-quit')">取消</span>
            </div>
        </div>
    </div>
    <div id="pop-continue" class="pop">
        <div class="pop-content">
            <span class="text" value="">是否继续2016年8月16日未完成的练习？</span>
            <div class="form-op">
                <span class="op btn-blue" ng-click="utils.href('/student/study')">是</span>
                <span class="op btn-blue" ng-click="utils.href('/student/course_detail')">否</span>
            </div>
        </div>
    </div>
</div>