<div lb-aside-directive></div>
<div id="exercise" class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200">课程详情</div>
        <div class="font-size-normal ">
            <em class="path" ng-click="utils.href('/student/course')">我的课程</em>
            <em> / </em>
            <em class="last">课程详情</em>
        </div>
    </div>
    <div class="main-wrapper" ng-show="true">
        <div class="title-1">
            <span class="title">课程信息</span>
        </div>
        <div class="title-2">
            <div class="clearfix">
                <span class="font-size-16">课程名称：<span ng-bind="course.name"></span></span>
            </div>
            <div class="clearfix">
                <span class="font-size-16">课程简介 : <span ng-bind="course.description"></span></span>
            </div>
        </div>
    </div>
    <div class="main-wrapper" ng-show="true">
        <div class="title-1">
            <span class="title">章节列表</span>
        </div>
        <div class="table-list">
            <table class="data-list">
                <tr>
                    <th>序号</th>
                    <th>章节主题</th>
                    <th>章节简介</th>
                    <th>最好成绩</th>
                    <th>操作</th>
                </tr>
                <tr  ng-repeat="s_courseChapter_list in courseChapter track by $index">
                    <td ng-bing="$index"></td>
                    <td ng-bind="s_courseChapter_list.name"></td>
                    <td ng-bind="s_courseChapter_list.descriptionContent"></td>
                    <td ng-bind="s_courseChapter_list.bestScore"></td>
                    <td>
                        <a ng-click="utils.href('/student/study/'+s_courseChapter_list.id)">开始练习</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>