<div id="reg" class="bgimg-black">
    <div id="reg-wrapper" class="bgcolor-white" ng-show="true">
        <div id="title" class="color-white font-size-huge bgcolor-blue font-weight-200">注册</div>
        <form name="reg_form" novalidate>
            <div class="form-item">
                <div class="title_lang">* 电子邮箱：<br>E-mail</div>
                <div class="content">
                    <input name="email" class="input" type="email"  ng-model="s_regInfo.email" required>
                    <!--<pre class="line-height-15 color-blue">请输入真实有效的邮箱，便于找回密码</pre>-->
                    <div class="error" ng-show="reg_form.email.$dirty && reg_form.email.$invalid">请输入真实有效的邮箱</div>
                </div>
                <pre class="line-height-15 color-blue">请输入真实有效的邮箱，便于找回密码</pre>
            </div>
            <div class="form-item">
                <div class="title_lang">* 请设定您的密码：<br>Password</div>
                <div class="content">
                    <input name="password" class="input" type="password" ng-minlength="6" ng-maxlength="20" ng-model="s_regInfo.password" required>
                    <!--<pre class="line-height-15 color-blue">请输入6位以上字符</pre>-->
                    <div class="error" ng-show="reg_form.password.$dirty && reg_form.password.$invalid">请输入6位以上字符</div>
                </div>
                <pre class="line-height-15 color-blue">请输入6位以上字符</pre>
            </div>
            <div class="form-item">
                <div class="title_lang">* 再输入一次密码：<br>Enter your password again</div>
                <div class="content">
                    <input name="passwordagain" class="input" type="password" ng-model="s_regInfo.passwordagain">
                    <!--<pre class="line-height-15 color-blue">请输入6位以上字符</pre>-->
                    <div ng-show="reg_form.passwordagain.$dirty">
                        <div class="error" ng-show="s_regInfo.passwordagain!=s_regInfo.password">密码不一致</div>
                    </div>

                </div>
            </div>
            <div class="form-item">
                <div class="title_lang">* 英文全名：<br>Full name</div>
                <div class="content">
                    <input name="englishName" class="input" type="text"  ng-model="s_regInfo.englishName" ng-pattern="/[a-zA-Z]/" required>
                    <div class="error" ng-show="reg_form.englishName.$dirty && reg_form.englishName.$invalid">请输入英文全名</div>
                </div>
            </div>
            <div class="form-item">
                <div class="title_lang">* 中文名：<br>Chinese name</div>
                <div class="content">
                    <input name="chineseName" class="input" type="text"  ng-model="s_regInfo.chineseName" ng-pattern="/[\u4E00-\u9FA5\uF900-\uFA2D]/" required>
                    <!--<pre class="line-height-15 color-blue">请输入汉字</pre>-->
                    <div class="error" ng-show="reg_form.chineseName.$dirty && reg_form.chineseName.$invalid">请输入中文名</div>
                </div>
            </div>

            <div class="form-item">
                <div class="title_lang">* 年龄：<br>Age</div>
                <div class="content">
                    <select name="age" class="select" ng-model="s_regInfo.age" required>
                        <option value="10-15">10-15</option>
                        <option value="16-20">16-20</option>
                        <option value="21-25">21-25</option>
                        <option value="26-30">26-30</option>
                        <option value="31-35">31-35</option>
                        <option value="35-40">35-40</option>
                        <option value="其他">其他</option>
                    </select>
                    <div class="error" ng-show="reg_form.age.$dirty && reg_form.age.$invalid">请选择年龄</div>
                </div>
            </div>
            <div class="form-item">
                <div class="title_lang">* 性别：<br>Gender</div>
                <div class="content">
                    <input name="gender" type="radio" value="0" ng-model="s_regInfo.gender" />男 Male
                    <input name="gender" type="radio" value="1" ng-model="s_regInfo.gender" />女 Female
                    <!--<div class="error" ng-show="reg_form.gender.$dirty">-->
                        <!--<span ng-show="reg_form.gender.$pristine || reg_form.gender.$pristine">请选择性别</span>-->
                    <!--</div>-->
                </div>
            </div>
            <!--<div class="form-item">-->
                <!--<div class="title_lang">* 手机号码：<br>Cellphone number</div>-->
                <!--<div class="content">-->
                    <!--&lt;!&ndash;<input name="phoneNumber" class="input" type="text"  ng-pattern="/[0-9]+/" ng-model="s_regInfo.phoneNumber" required>&ndash;&gt;-->
                    <!--<input type="text" class="input" name="phoneNumber" placeholder="手机号" ng-model="s_regInfo.phoneNumber" required ng-pattern="/[0-9]+/">-->
                    <!--<div class="error" ng-show="reg_form.phoneNumber.$dirty && reg_form.phoneNumber.$invalid">请输入真实的手机号</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-item">
                <div class="title_lang">* 国籍：<br>Country of citizenship</div>
                <div class="content">
                    <select name="nationality" class="select" ng-model="s_regInfo.nationality" required>
                        <option value="其它">其它</option>
                        <option value="China">China</option>
                        <option value="Iceland">Iceland</option>
                        <option value="Korea">Korea</option>
                        <option value="Canada">Canada</option>
                        <option value="Central African Republic">Central African Republic</option>
                        <option value="Cuba">Cuba</option>
                        <option value="United States">United States</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="South Korea">South Korea</option>
                        <option value="Japan">Japan</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Finland">Finland</option>
                        <option value="Sweden">Sweden</option>
                        <option value="Norway">Norway</option>
                        <option value="Malaysia">Malaysia</option>
                        <option value="Vietnam">Vietnam</option>
                        <option value="Australia">Australia</option>
                        <option value="Italy">Italy</option>
                        <option value="France">France</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Russia">Russia</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="Brazil">Brazil</option>
                        <option value="Spain">Spain</option>
                        <option value="Turkey">Turkey</option>
                        <option value="India">India</option>
                        <option value="Germany">Germany</option>
                        <option value="Denmark">Denmark</option>
                        <option value="Belgium">Belgium</option>
                        <option value="Portugal">Portugal</option>
                    </select>
                    <div class="error" ng-show="reg_form.nationality.$dirty && reg_form.nationality.$invalid">请选择国籍</div>
                </div>
            </div>
            <div class="form-item">
                <div class="title_lang">* 母语：<br>Native language</div>
                <div class="content">
                    <select name="motherTongue" class="select" ng-model="s_regInfo.motherTongue" required>
                        <option value="其它">其它</option>
                        <option value="Chinese">Chinese</option>
                        <option value="Belarusian">Belarusian</option>
                        <option value="Dutch">Dutch</option>
                        <option value="Icelandic">Icelandic</option>
                        <option value="English">English</option>
                        <option value="Korean">Korean</option>
                        <option value="Japanese">Japanese</option>
                        <option value="Thai">Thai</option>
                        <option value="Finnish">Finnish</option>
                        <option value="Norwegian">Norwegian</option>
                        <option value="Italian">Italian</option>
                        <option value="French">French</option>
                        <option value="Denish">Denish</option>
                        <option value="German">German</option>
                        <option value="Mexican">Mexican</option>
                        <option value="Dard">Dard</option>
                        <option value="Turkish">Turkish</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Portuguese">Portuguese</option>
                        <option value="Ukrainian">Ukrainian</option>
                        <option value="Russian">Russian</option>
                        <option value="Vietnamese">Vietnamese</option>
                        <option value="Swedish">Swedish</option>
                    </select>
                    <div class="error" ng-show="reg_form.motherTongue.$dirty && reg_form.motherTongue.$invalid">请选择母语</div>
                </div>
            </div>

            <div class="form-op">
                <span class="op btn-blue" ng-click="reg_form.email.$dirty = true;
                                                    reg_form.password.$dirty = true;
                                                    reg_form.phoneNumber.$dirty = true;
                                                    reg_form.englishName.$dirty = true;
                                                    reg_form.chineseName.$dirty = true;
                                                    reg_form.age.$dirty = true;
                                                    reg_form.gender.$dirty = true;
                                                    reg_form.nationality.$dirty = true;
                                                    reg_form.motherTongue.$dirty = true;
                                                    reg_form.$valid && s_reg()">保存</span>
            </div>
        </form>

    </div>
</div>