<div class="study text-align-center">
    <span class="btn btn-blue exit" ng-click="utils.href('/student/course_detail')">edit</span>
    <div class="exercise">
        <h1>播放提示音 du~ 500ms 后进入下一页</h1>
        <h1>+</h1>
       <!-- <span class="icon icons-cross"></span>-->
        <div class="key">
            <div class="col-2-4">
                <span class="icon icons-1"></span><h1>1</h1>
            </div>
            <div class="col-2-4">
                <span class="icon icons-2"></span><h1>2</h1>
            </div>
            <div class="col-2-4">
                <span class="icon icons-3"></span><h1>3</h1>
            </div>
            <div class="col-2-4">
                <span class="icon icons-4"></span><h1>4</h1>
            </div>
        </div>
        <div class="form-op">
            <span class="op btn-blue" ng-click="utils.href('/student/study_keying')">下一步</span>
        </div>
    </div>
</div>