<div lb-aside-directive></div>
<div id="profile" class="main-page-margin">
    <div id="main-title">
        <div class="title font-size-huge font-weight-200">个人中心</div>
        <div class="font-size-normal ">
            <em class="path" ng-click="utils.href('/student/course')">我的课程</em>
            <em> / </em>
            <em class="last">个人中心</em>
        </div>
    </div>
    <div class="main-wrapper">
        <div class="title-1 user-info">
            <span class="title">个人信息</span>
        </div>
        <form name="editPassword" novalidate>
        <div class="main-wrapper" ng-show="true">
            <div class="form-item">
                <div class="title">原始密码：</div>
                <div class="content">
                    <input type="password" class="input" name="oldPassword" required  ng-model="password.oldPassword">
                </div>
                <div class="error" ng-show="editPassword.oldPassword.$dirty&&editPassword.oldPassword.$invalid">请输入原始密码</div>
            </div>
            <div class="form-item">
                <div class="title">新密码：</div>
                <div class="content">
                    <input type="password" class="input" name="newPassword"required  ng-model="password.newPassword">
                    <div class="error" ng-show="editPassword.newPassword.$dirty&&editPassword.newPassword.$invalid">请输入新密码</div>
                </div>
            </div>
            <div class="form-item">
                <div class="title">确认密码：</div>
                <div class="content">
                    <input type="password" class="input" name="makeSurePassword" ng-model="password.makeSurePassword">
                    <div ng-show="editPassword.makeSurePassword.$dirty">
                        <div class="error" ng-show="password.newPassword != password.makeSurePassword">两次密码输入不一致</div>
                    </div>
                </div>
            </div>

            <div class="form-op">
                <span class="op btn-blue" ng-click="editPassword.oldPassword.$dirty=true; editPassword.newPassword.$dirty=true;editPassword.makeSurePassword.$dirty = true; editPassword.$valid && submitPassword()">确认</span>
            </div>
        </div>
        </form>
    </div>
</div>