<div class="study text-align-center">
    <!--<div class="exit" ng-click="utils.href('/student/class')">X</div>-->
    <div class="exercise">
        <h1>练习尚未完成</h1>
        <p>是否保存练习进度？</p>
        <br/>
        <div class="form-op">
            <span class="op btn-blue" ng-click="utils.href('/class/session')">保存</span>
            <span class="op btn-blue" ng-click="utils.href('/class/session')">不保存</span>
            <span class="op btn-blue" ng-click="utils.href('/class/session')">取消</span>
        </div>
    </div>
</div>