<div id="s_exercising">
    <span  class="btn btn-blue exe_exit " style="" ng-click="exe_out()">exit</span>
    <div class="exercise" id="dududu">
        <span class="add_symbol">+</span>
        <section id="musicPro">
            <audio id="dududu_Audio"  src="../../vendor/mp3/dududu.mp3"/>
        </section>
    </div>
    <div class="exercise" id="exerciseQ">
        <section id="musicSelect">
            <audio id="musicAuto"  ng-src="{{musicSrc}}"></audio>
        </section>
        <div class="imgShow" id="imgShow">
            <img ng-src="{{imgSrc}}">
            <div class="font-size-16" style="color: white">按回车（Enter）继续</div>
        </div>
        <div class="answer" id="answer">
        </div>
    </div>
    <div class="tone">
        <span class="icon icons-1 one-syllable border-3-white"></span>
        <span class="one-syllable-num">1</span>
        <span class="icon icons-2 two-syllable border-3-white"></span>
        <span class="two-syllable-num">2</span>
        <span class="icon icons-3 three-syllable border-3-white"></span>
        <span class="three-syllable-num">3</span>
        <span class="icon icons-4 four-syllable border-3-white"></span>
        <span class="four-syllable-num">4</span>
    </div>
</div>
