<div class="study text-align-center">
    <div class="exit">X</div>
    <div class="exercise">
        <div class="exercise-picture">
            一一一
        </div>
        <input type="text" class="input" name="name"  required ng-maxlength="30" ng-value="classDetail.subjectName">
        <input type="text" class="input" name="name"  required ng-maxlength="30" ng-value="classDetail.subjectName">
        <div class="key">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>5</span>
            <span>6</span>
        </div>
        <h4>按回车键继续</h4>

    </div>
</div>