<div class="study text-align-center">
    <div class="exit">X</div>
    <div class="exercise">
        <h1>练习说明</h1>
        <h4>这行为中文的练习说明</h4>
        <h4>Instructions</h4>
        <h4>这行为英文的练习说明</h4>

        <!--<div class="loading">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>-->
    </div>
    <div class="container">
        <!--<div class="title plain">Plain</div>-->
        <div class="bar">
        <span class="bar-unfill">
            <span class="bar-fill"></span>
        </span>
        </div>
    </div>
</div>