<div ng-show="p_status == 1" style="height:100%;">
    <div class="study text-align-center">
        <span class="btn btn-blue exit" ng-click="utils.href('/student/course_detail/'+courseID)">edit</span>
        <div class="exercise">
            <h1>练习说明</h1>
            <p ng-bind="chapterInfo.descriptionCn"></p>
            <h1>Instructions</h1>
            <p ng-bind="chapterInfo.descriptionEn"></p>
        </div>
        <div style="margin-top: 25%">
            <p class="">按回车（Enter）继续</p>
        </div>
    </div>

</div>
<!---------------------------------------------------------------------------------------- -->
<div ng-show="p_status==2" style="height:100%;">
<div class="study text-align-center">
    <span class="btn btn-blue exit" ng-click="utils.href('/student/course_detail/'+courseID)">edit</span>
    <div class="exercise">
        <h1>音量校准</h1>
        <div class="volume">
            <span class="icon icons-volume"></span>
        </div>
        <p>请将音量调整到合适大小</p>
    </div>
    <div style="margin-top: 15%">
        <p class="">按回车（Enter）继续</p>
    </div>
    <section id="music">
        <audio id="musicAudio" loop src="../../vendor/mp3/volume.mp3"/>
    </section>
</div>

</div>
<!---------------------------------------------------------------------------------------->
<div ng-show="p_status==3" style="height:100%;" id="keyCodeAlign">
<div class="study text-align-center">
    <span class="btn btn-blue exit" ng-click="utils.href('/student/course_detail/'+courseID)">edit</span>
    <div class="exercise">
        <h1>键盘校准</h1>
        <div class="key" id="keyCode">
            <span class="numberkey key-1"><h1>1</h1></span>
            <span class="numberkey key-2"><h1>2</h1></span>
            <span class="numberkey key-3"><h1>3</h1></span>
            <span class="numberkey key-4"><h1>4</h1></span>
            <span class="numberkey key-5 icon icons-enterkey"></span>
        </div>
        <p>请按下上述按键</p>
    </div>
    <!--<div class="footer" style="position: absolute;bottom: 0;text-align: center;width: 57%;">-->
        <!--<span class="op btn-blue" ng-click="pageS(4)" >下一步</span>-->
    <!--</div>-->
</div>
</div>
<!----------------------------------------------------------------------------------------------------->
<div style="height:100%; display: none" id="prepare">
<div class="study text-align-center">
    <span class="btn btn-blue exit" ng-click="utils.href('/student/course_detail/'+courseID)">edit</span>
    <div class="exercise">
        <h1>请准备</h1>
        <span class="icon icons-key1"></span>
        <p>按回车键(Enter)开始练习</p>
        <!--<div class="op btn-blue" ng-click="utils.href('/student/study_keying/'+execiseID)">下一步</div>-->
    </div>
</div>
</div>
<!-- ------------------------------------------------------------------------------------------->