<div class="study text-align-center">
    <span class="btn btn-blue exit" ng-click="utils.href('/student/course_detail')">edit</span>

    <div class="exercise">
        <h1>键盘校准</h1>
        <div class="key">
            <span class="numberkey bgcolor-blue"><h1>1</h1></span>
            <span class="numberkey"><h1>2</h1></span>
            <span class="numberkey"><h1>3</h1></span>
            <span class="numberkey"><h1>4</h1></span>
            <span class="numberkey icon icons-enterkey"></span>
        </div>
        <p>请依次按下上述按键</p>
        <!--<div class="form-op">
            <span class="op btn-blue" ng-click="utils.href('/class/session')">下一步</span>
        </div>-->
    </div>
    <div class="container">
        <div class="form-op">
            <span class="op btn-blue" ng-click="utils.href('/student/study_prepare')">下一步</span>
        </div>
    </div>
</div>