#create-robot{
    .left-content{
        .robot-type{
            margin-top: 20px;
        }
        .form-item{
            margin-bottom: 20px;
        }
        pre{
            white-space: pre-wrap;
            word-wrap: break-word;
        }
        .input{
            width: 400px;
        }
        .op{
            margin: 0 10px;
        }
    }
}