#create-or-edit-task{
    .select-schedule{
        line-height: 40px;
    }
    .schedule-info{
        margin-top: 20px;
    }
    .download{
        cursor: pointer;
    }
    .phone-del{
        cursor: pointer;
    }
    .op{
        margin-top: 20px;
        span{
            margin: 0 10px;
        }
    }
    #pop-schedule .pop-content{
        height: 550px;
        overflow-y: scroll;
    }
}