#task-detail{
    .recall-all{
        float: left;
    }
    .records{
        margin: 20px 0;
        padding: 10px 0;
        .record{
            display: inline-block;
            height: 30px;
            line-height: 30px;
            padding: 0 20px;
            margin: 5px 10px;
            cursor: pointer;
        }
        .record-audio{
            display: none;
        }
    }
    .chat{
        .person{
            display: inline-block;
            width: 50px;
            float: left;
        }
        .words{
            margin-left: 50px;
        }
    }
}