.study{
    width: 100%;
    height: 100%;
    background: #000;
    color: #eee;
    line-height: 100px;
    .exercise{
        position: relative;
        top: 20%;
    }
    h1{
        font-size: 30px;
    }
    h4{
        font-size: 18px;
    }
    .exit{
        width: 30px;
        height: 30px;
        line-height: 30px;
        @include border-radius(50%);
        background: #fff;
        color: #000;
        position: absolute;
        right: 0;
        top: 0;
    }
    .volume{
        width: 300px;
        margin: 50px auto;
        background: #ccc;

    }
    .key{
        span{
            border: 1px #ccc solid;
        }
    }


    .container {
        width:80%;
        margin:0 auto;
        position: relative;
        top: 30%;
    }

    .title {
        background:#545965;
        color:#fff;
        padding:15px;
        float:left;
        position:relative;
        -webkit-border-top-left-radius:5px;
        -webkit-border-bottom-left-radius:5px;
        -moz-border-radius-topleft:5px;
        -moz-border-radius-bottomleft:5px;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px
    }
    .bar-unfill {
        height:15px;
        display:block;
        background:#fff;
        width:100%;
        border-radius:8px
    }
    .bar-fill {
        height:15px;
        display:block;
        background:#4eb5e0;
        width:100%;
        border-radius:8px;
        -webkit-transition:width .8s ease;
        -moz-transition:width .8s ease;
        transition:width .8s ease;
        -webkit-animation:progressbar 7s 1;
        animation:progressbar 7s 1
    }
    /* Chrome, Safari, Opera */
    @-webkit-keyframes progressbar {
        0% {
            width:0
        }
        100% {
            width:100%
        }
    }
    /* Standard syntax */
    @keyframes progressbar {
        0% {
            width:0
        }
        100% {
            width:100%
        }
    }



}