#s_exercising{
    width: 100%;
    height: 100%;
    background-color:black;
    .exe_exit{
        position: absolute;
        right: 0;
    }
    .exercise{
        .add_symbol{
            position: absolute;
            color: white;
            font-size: 42px;
            top: 34%;
            left: 51%;
        }
        .answer{
            .key{
                position: absolute;
                top: 40%;
                left: 50%;
            }
        }
        .imgShow{
            width: 100%;
            text-align: center;
            padding-top: 2%;
        }
    }
    .tone{
        .border-3-white{
            border: 3px solid white;
        }
        .one-syllable{
            display: inline-block;
            position: absolute;
            bottom: 20%;
            left: 25%;
        }
        .one-syllable-num{
            font-size: 30px;
            color: white;
            position: absolute;
            bottom: 15%;
            left: 29%;
        }
        .two-syllable{
            display: inline-block;
            position: absolute;
            bottom: 20%;
            left: 40%
        }
        .two-syllable-num{
            font-size: 30px;
            color: white;
            position: absolute;
            bottom: 15%;
            left: 44%;
        }
        .three-syllable{
            display: inline-block;
            position: absolute;
            bottom: 20%;
            left: 55%;
        }
        .three-syllable-num{
            font-size: 30px;
            color: white;
            position: absolute;
            bottom: 15%;
            left: 59%;
        }
        .four-syllable{
            display: inline-block;
            position: absolute;
            bottom: 20%;
            left: 70%
        }
        .four-syllable-num{
            font-size: 30px;
            color: white;
            position: absolute;
            bottom: 15%;
            left: 74%;
        }
    }
    .answer{
        .border-3-white{
            border: 3px solid white;
        }
        .key-1{
            position: absolute;
            top: 40%;
            left: 45%;
            .answer_empty{
                border-bottom: 3px solid white;
                width: 106px;
                height: 102px;
                float: left;
                margin-left: 30px;
            }
        }
        .key-2{
            position: absolute;
            top: 40%;
            left: 40%;
            .answer_empty{
                border-bottom: 3px solid white;
                width: 106px;
                height: 102px;
                float: left;
                margin-left: 30px;
            }
        }
        .key-3{
            position: absolute;
            top: 40%;
            left: 35%;
            .answer_empty{
                border-bottom: 3px solid white;
                width: 106px;
                height: 102px;
                float: left;
                margin-left: 30px;
            }
        }
        .key-4{
            position: absolute;
            top: 40%;
            left: 30%;
            .answer_empty{
                border-bottom: 3px solid white;
                width: 106px;
                height: 102px;
                float: left;
                margin-left: 30px;
            }
        }
    }

}

.study{
    height: 100%;
    background: #000;
    color: #eee;
    line-height: 120px;
    .exercise{
        position: relative;
        top: 15%;
    }
    h1{
        font-size: 30px;
    }
    p{
        font-size: 18px;
        line-height: 24px;
        margin: 30px auto 50px;
    }
    .exit{
        position: absolute;
        right: 0;
        top: 0;
        float: right;
    }
    .volume{
        width: 300px;
        margin: 50px auto;
        background: #ccc;
        padding: 50px;
    }
    .key{
        margin: 100px auto 100px;
        span{
            border: 3px #ccc solid;
        }
        .numberkey{
            display: inline-block;
            width: 130px;
            border: 3px #ccc solid;
        }
    }
    span.border-red{
        border: 3px #fa6d78 solid;
    }

    .container {
        width:60%;
        position: absolute;
        top: 85%;
    }

    .title {
        background:#545965;
        color:#fff;
        padding:15px;
        float:left;
        position:relative;
        -webkit-border-top-left-radius:5px;
        -webkit-border-bottom-left-radius:5px;
        -moz-border-radius-topleft:5px;
        -moz-border-radius-bottomleft:5px;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px
    }
    .bar-unfill {
        height:15px;
        display:block;
        background:#fff;
        width:100%;
        border-radius:8px
    }
    .bar-fill {
        height:15px;
        display:block;
        background:#4eb5e0;
        width:100%;
        border-radius:8px;
        -webkit-transition:width .8s ease;
        -moz-transition:width .8s ease;
        transition:width .8s ease;
        -webkit-animation:progressbar 7s 1;
        animation:progressbar 7s 1
    }
    /* Chrome, Safari, Opera */
    @-webkit-keyframes progressbar {
        0% {
            width:0
        }
        100% {
            width:100%
        }
    }
    /* Standard syntax */
    @keyframes progressbar {
        0% {
            width:0
        }
        100% {
            width:100%
        }
    }



}

