#s_exercising{
    width: 100%;
    height: 100%;
    background-color:black;
    .exe_exit{
        position: absolute;
        right: 0;
    }
    .exercise{
        .add_symbol{
            position: absolute;
            color: white;
            font-size: 42px;
            top: 47.73%;
            left: 48.74%;
        }
        .answer{
            .key{
                position: absolute;
                top: 40%;
                left: 50%;
            }
        }
        .imgShow{
            position: absolute;
            width: 90%;
            margin-left: 5%;
            height: 30%;
            top: 6%;
            text-align: center;
            img{
                height: 100%;
            }
        }
    }
    .tone{
        width: 100%;
        position: absolute;
        text-align: center;
        bottom: 20%;
        .eee{
            width: 608px;
            margin: 0 auto;
        }
        .option{
            border: 3px solid white;
            width: 86px;
            height: 86px;
            float: left;
            margin-left: 30px;
            margin-right:30px;
            .syllable-num{
                font-size: 30px;
                color: white;
                text-align: center;
                margin-top: 20px;
            }
        }

    }
    .enterFont{
        position: relative;
        bottom: 10%;
        width: 152px;
        color: white;
        margin: 0 auto;
    }
    .answer{
        position:absolute;
        top:45.8%;
        width: 100%;
        height: 13%;
        text-align: center;
        .border-3-white{
            border: 3px solid white;
        }
        .key-1{
            height: 100%;
            display: inline-block;
            text-align: center;
            .answer_empty{
                border-bottom: 3px solid white;
                width: 86px;
                height: 83px;
                float: left;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        .key-2{
            /*width: 17%;*/
            height: 100%;
            display: inline-block;
            text-align: center;
            .answer_empty{
                border-bottom: 3px solid white;
                width: 86px;
                height: 83px;
                float: left;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        .key-3{
            /*width: 23%;*/
            height: 100%;
            display: inline-block;
            text-align: center;
            .answer_empty{
                border-bottom: 3px solid white;
                width: 86px;
                height: 83px;
                float: left;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        .key-4{
            /*width: 30%;*/
            height: 100%;
            text-align: center;
            display: inline-block;
            .answer_empty{
                border-bottom: 3px solid white;
                width: 86px;
                height: 83px;
                float: left;
                margin-left: 15px;
                margin-right: 15px;
            }
        }
        .border-3-green{
            border: 3px solid green;
        }
        .border-3-red{
            border: 3px solid red;
        }
    }

}


.study{
    height: 100%;
    background: #000;
    color: #eee;
    line-height: 120px;
    .exercise{
        position: relative;
        top: 15%;
    }
    .exercisefinish{
        position: relative;
        top: 31%;
    }
    h1{
        font-size: 30px;
    }
    p{

        font-size: 18px;
        line-height: 24px;
        /*margin: 30px auto 50px;*/
    }
    .exit{
        position: absolute;
        right: 0;
        top: 0;
        float: right;
    }
    /*.volume{
        position: absolute;
        width: 50%;
        margin-left:25% ;
        top: 62%;
    }*/
    @media screen and (max-width: 1600px) {
        .volume{
            position: absolute;
            width: 50%;
            margin-left:25% ;
            top: 62%;
        }
    }
    @media screen and (max-width: 1601px) {
        .volume{
            position: absolute;
            width: 50%;
            margin-left:25% ;
            top: 102%;
        }
    }
    .key{
        margin: 100px auto 100px;
        span{
            border: 3px #ccc solid;
        }
        .numberkey{
            display: inline-block;
            width: 130px;
            border: 3px #ccc solid;
        }
    }
    span.border-red{
        border: 3px #fa6d78 solid;
    }

    .container {
        width:60%;
        position: absolute;
        top: 85%;
    }

    .title {
        background:#545965;
        color:#fff;
        padding:15px;
        float:left;
        position:relative;
        -webkit-border-top-left-radius:5px;
        -webkit-border-bottom-left-radius:5px;
        -moz-border-radius-topleft:5px;
        -moz-border-radius-bottomleft:5px;
        border-top-left-radius:5px;
        border-bottom-left-radius:5px
    }
    .bar-unfill {
        height:15px;
        display:block;
        background:#fff;
        width:100%;
        border-radius:8px
    }
    .bar-fill {
        height:15px;
        display:block;
        background:#4eb5e0;
        width:100%;
        border-radius:8px;
        -webkit-transition:width .8s ease;
        -moz-transition:width .8s ease;
        transition:width .8s ease;
        -webkit-animation:progressbar 7s 1;
        animation:progressbar 7s 1
    }
    /* Chrome, Safari, Opera */
    @-webkit-keyframes progressbar {
        0% {
            width:0
        }
        100% {
            width:100%
        }
    }
    /* Standard syntax */
    @keyframes progressbar {
        0% {
            width:0
        }
        100% {
            width:100%
        }
    }



}
.anjian{
    margin-top: 20px;
    position: absolute;
    width: 100%;
    bottom: 20%;
}

